

<div id="eventattendees" class="hardmodule">
	<div class="moduletitle"><h3>Event Attendees</h3></div>
	<ul>
		<li class="tallerlistitem" >
    
		  {% if eventvolunteer %}
		      {% if event.inpast %}
		        You attended! <a href="{{event.url}}/verify">Get a receipt.</a>
		      {% else %}
                You are attending!		      
		      {% endif %}
          {% endif %}
          <!--<a>&raquo Invite a friend to this event</a>-->		
        </li>
		
		<li>  
		    <ul id="imagenamelinklist">
				{% for page_volunteer in attendees_friends %}
					{% include "../volunteers/person_lists/_image_name_link_family.html" %}
	            {% endfor %}

                {% for page_volunteer in attendees_following %}
                    {% include "../volunteers/person_lists/_image_name_link_following.html" %}
                {% endfor %}

                {% for page_volunteer in attendees_followers %}
                    {% include "../volunteers/person_lists/_image_name_link_followers.html" %}
                {% endfor %}

                {% for page_volunteer in attendees_unknown %}
                    {% include "../volunteers/person_lists/_image_name_link_unknown.html" %}
                {% endfor %}
                                
	            {% for page_volunteer in attendees_anonymous %}
                    {% if eventvolunteer and event.inpast %}
                        {% include "../volunteers/person_lists/_image_name_link_unknown.html" %}
                    {% else %}
                        {% if eventvolunteer.isowner %}
                            {% include "../volunteers/person_lists/_image_name_link_unknown.html" %}
                        {% else %}
                            {% include "../volunteers/person_lists/_image_name_link_anonymous.html" %}
                        {% endif %}
                    {% endif %}				
                {% endfor %}
                    
		    </ul>
		</li>
	</ul>
	
</div><!--end eventdescription-->