

<div id="eventattendees" class="hardmodule">
	<div class="moduletitle"><h3>Event Attendees</h3></div>
	<ul>
		<li class="tallerlistitem" >
		{% if eventvolunteer %}

		{% else %}
			<form class="noindentform" action="{{event.url}}/volunteer" method="post">
				<input type=hidden name="session_id" value="{{ session_id }}" />
				<input class="nobuttonsubmit" type=submit value="volunteer" />
			</form>
		{% endif %}</li>
		<li class="tallerlistitem" ><a>&raquo Invite a friend to this event</a></li>
		<li><ul id="imagenamelinklist">
			{% for v in event.volunteers %}
				{% include "../volunteers/_image_name_link.html" %}
			{% endfor %}
		</ul></li>
	</ul>
</div><!--end eventdescription-->