<div id="creationtips" class="hardmodule">
	<div class="moduletitle"><h3>Tips for Creating an Event</h3></div>
	<ul>
		<li>Provide a clear and compelling event description.</li>
		<li>Special Instructions may include a secondary event contact, as well as other information that is not included in the event form.</li>
		<li>Ensure that the address of your event is properly formatted and complete.</li> 
        <li>Events will be public. Do not create one if you don't want it publicly accessible.</li>
	</ul>
</div>