
<div id="createevent" class="softmodule">
	<div class="moduletitle"><h3>Create An Event</h3></div>
	<form action="/events" method="post"><ul>
		<li><div class="eventcreatelabel">Event Name:</div><input name="name" type="textarea" /></li>
		<li><div class="eventcreatelabel">Date:</div><input type="textarea" /></li>
		<li><div class="eventcreatelabel">Time:</div><input type="textarea" /></li>
		<li><div class="eventcreatelabel">Location:</div><input type="textarea" /></li>
		<li><div class="eventcreatelabel">Attendees:</div><input type="textarea" /></li>
		<li><div class="eventcreatelabel">Event Description:</div><input type="textarea" /></li>
		<li><div class="eventcreatelabel">Special Instructions:</div><input type="textarea" /></li>
	</ul>
	<input type="submit" value="submit" />
	</form>
</div>