<script type="text/javascript" src="/stylesheets/jquery/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/stylesheets/date_picker/date.js"></script>
<!--[if IE]><script type="text/javascript" src="scripts/jquery/js/jquery.bgiframe.js"></script><![endif]-->
<script type="text/javascript" src="/stylesheets/date_picker/jquery.datePicker.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/date_picker/datePicker.css" />

<input type="text" name="date" id="eventdate" class="date-pick dp-applied" value=
 {% if event.error.date %}
   "{{event.error.date.1}}"
  {% else %}
  "{{ event.date|date:"m/d/Y" }}"
  {% endif %} />
<script type="text/javascript">
$(function()
{
    $('.date-pick').datePicker();
});
</script>
{% if event.error.date %}
<br/><strong class="error">{{event.error.date.0}}</strong>
{% endif %}
