
<div id="eventdetails" class="hardmodule">
	<ul>
		<li><span class="label">Event:</span> {{ event.name }}</li>
		<li><span class="label">Date:</span> {{ event.get_date }}</li>
		<li><span class="label">Time:</span> {{ event.get_time }}</li>
		<li><span class="label">Neighborhood:</span> {{ event.neighborhood.name }}</li>
		<li><span class="label">Host:</span> 
			{% for owner in owners %}
				<a href="{{owner.volunteer.url}}">{{owner.volunteer.get_name}}</a> 
			{% endfor %}</li>
		<li><span class="label">Address:</span> {{ event.address }}</li>
		<li id="eventactionbutton">
		{% if eventvolunteer %}
			{% if eventvolunteer.isowner %}
				<form action="/events/{{event.key.id}}/edit">
					<input type="submit" value="Edit this event" id="s_edit_event"/>
				</form>
				<form action="/events/{{event.key.id}}" method="post">
					<input type="submit" value="Cancel this event" id="s_cancel_event"/>
					<input type=hidden name="session_id" value="{{ session_id }}" />
					<input type=hidden name="is_delete" value="true" />
				</form>
			{% else %}
				{% if not event.inpast %}
					<form action="{{event.url}}/volunteer" method="post" >
						<input type=hidden name="delete" value="true" />
						<input type=hidden name="session_id" value="{{ session_id }}" />
						<input type=submit value="unvolunteer" id="s_unvolunteer" />
					</form>
				{% endif %}
			{% endif %}
		{% else %}
			{% if not event.inpast %}
				<form action="{{event.url}}/volunteer" method="post">
					<input type=hidden name="session_id" value="{{ session_id }}" />
					<input type=submit value="volunteer" id="s_volunteer"/>
				</form>
			{% endif %}
		{% endif %}
		</li>
	</ul>
</div><!--end eventdetails-->