
<div id="eventdetails" class="hardmodule">
	<ul>
		<li><span class="label">Date:</span> {{ event.get_startdate_long }}</li>
		<li><span class="label">Time:</span> {{ event.get_time }}</li>
		<li><span class="label">Duration:</span> {{ event.get_duration_string}} </li>
		<li><span class="label">Neighborhood:</span> {{ event.neighborhood.name }}</li>
		<li><span class="label">Host:</span> 
			{% for owner in owners %}
				<a href="{{owner.volunteer.url}}">{{owner.volunteer.get_name}}</a> 
			{% endfor %}</li>
		<li><span class="label">Address:</span> {{ event.address }}</li>
		<li><span class="label">Categories:</span> 
		    {% ifequal event_categories '' %}
		        None selected
		    {% else %}
		        <ul style="padding-left:20px">
	                {% for ic in event.interestcategories %}
	                    <a id="category[{{ic.key.id}}]" href="{{ ic.url }}">{{ ic.name }}</a><br/>
	                {% endfor %}
	            </ul>
            {% endifequal %}</li>
    	</ul>

        <div class="event_operation_block">
        	<ul>
			{% if eventvolunteer %}
				<li><a class="operation" href="mailto:?subject={{volunteer.name}} wants you to volunteer at {{event.name}}!&body={{event.message_body}}">&raquo; Invite your friends</a></li>				
				{% if eventvolunteer.isowner %}
						<li><form action="/events/{{event.key.id}}/edit">
							<input type="submit" title="Edit this event" class="operation" value="&raquo; Edit this event" id="s_edit_event"/>
						</form></li>
		  			{% if not event.inpast %}
							<li><form action="/events/{{event.key.id}}" method="post">
								<input type="submit" title="Cancel this event" class="operation" value="&raquo; Cancel this event" id="s_cancel_event"/>
								<input type=hidden name="session_id" value="{{ session_id }}" />
								<input type=hidden name="is_delete" value="true" />
							</form></li>
					{% endif %}
				{% else %}
		    		<li><a href="mailto:{{ contact.user.email }}" class="operation">&raquo; Contact Event Host</a></li>
					{% if not event.inpast %}
						<li><form action="{{event.url}}/volunteer" method="post" >
							<input type=hidden name="delete" value="true" />
							<input type=hidden name="session_id" value="{{ session_id }}" />
							<input type=submit title="Unvolunteer for this event" class="operation" value="&raquo; Unvolunteer" id="s_unvolunteer" />
						</form></li>
					{% endif %}
				{% endif %}
			{% else %}
				{% if not event.inpast %}
					<li><form action="{{event.url}}/volunteer" method="post">
						<input type=hidden name="session_id" value="{{ session_id }}" />
						<input type=submit title="Volunteer for this event" class="volunteer_button" value="Sign me up!" id="s_volunteer"/>
					</form></li>
				{% endif %}
			{% endif %}
			</ul>
    </div>
</div><!--end eventdetails-->