{% if not event.hidden %}
<div class="shortevent">
    {% if not event.verified %}<span class="verification_warning_wrapper"><a class="verification_warning" title="This event has yet to be checked by Flash Volunteer admins">(!)</a></span>
	{% endif %}
	<a class="fv event_name" id="event_upcoming[{{event.key.id}}]" href="{{ event.url }}" id="l_event_{{event.key.id}}">{{ event.name|striptags }}</a>
    <ul>
        <li>{{ event.get_start_time }}, {{ event.get_startdate }}, <a class="fv" href="{{ event.neighborhood.url }}">{{ event.neighborhood.name }}</a></li>
		<li><span class="label">Organizers:</span> 
			{% for owner in event.hosts %}
				{% ifequal forloop.counter 1 %}
					<a class="fv" href="{{owner.url}}">{{owner.account.get_name}}</a>
				{% else %} 
					{%ifequal forloop.counter 2 %}
						(...)
					{%else%}
					{%endifequal%}
				{% endifequal %}
			{% endfor %}</li>
			
			{% if event.inpast %}
				{% ifequal event.get_numphotoalbums 0  %}	
					{% for ev in eventvolunteer %}
						{% ifequal event.key.id ev.event.key.id %}
							{% comment %}{% if ev.isowner %}{% endcomment%}
								<li><span class="label"></span><a  class="fv" id="l_event_nophotos_{{event.key.id}}" title="Event organizers can add photo albums on the event page" href="{{ event.url }}"> No Photos added yet</a> </li>	
								{% if eventvolunteer.isowner %}
								{% endif %}		
							{% comment %}{% endif %}{% endcomment%}
						{% endifequal %}
					{% endfor %}
				{% endifequal %}
			{% endif %}
    </ul>
</div>
{% endif %}