
		<div id="findaneventwide" class="hardmodule">
			<div class="moduletitle"><h3>Find An Event</h3></div>
			<form action="/events/search" method="get">
				<ul class="leftformlist">
					<li>
						{% include "../neighborhoods/_select_neighborhood.html" %}
						{% include "_select_event_type.html" %}
					</li>
					<li style="text-align:right; padding-right: 10px;">
						<input type="submit"  id="s_events_wide_search" value="Search" />
					</li>
				</ul>
			</form>
		</div><!--end findevent-->