
		<div id="findanevent" class="hardmodule">
			<div class="moduletitle"><h3>Find An Event</h3></div>
			<form action="/events/search" method="get">
				<ul class="formlist">
					<li>
						{% include "../neighborhoods/_select_neighborhood.html" %}
					</li>
					<li>
						{% include "../events/_select_event_type.html" %}
					</li>
					<li>
						<span class="label">Date Range:</span><br />
						<input class="daterange" name="fromdate" type="text" value="From date" />
						<input class="daterange" name="todate" type="text" value="To date" />
					</li>
					<li>
						{% include "../events/_time_option.html" %}
						<input type="submit"  value="submit"/>
					</li>
				</ul>
			</form>
		</div><!--end findevent-->