<div id="findaneventwide" class="hardmodule">
    <div class="moduletitle"><h3>Find An Event<a style="cursor:pointer" title="Search for events, optionally specifying a neighborhood and/or event category.">(?)</a></h3></div>

    <div id="event_search">     
        <ul class="formlist">
            <li>
                {% include "../neighborhoods/_select_neighborhood__event_search.html" %}
                {% include "../events/_select_event_type.html" %}
            </li>
            <li>
                <input type="checkbox" id="search_past_events" name="past_events" />
                <label class="checkboxlabel" title="Include past and future events in search results." for="past_events">Include past events</label>
            </li>
            <li class="submiteventsearch">
                <button class="submit" onclick="event_search_submit()" id="s_events_wide_search">Search</button>                       
            </li>                   
        </ul>
    </div>
</div><!--end findevent-->      