
	<div id="eventmessages" class="hardmodule">
		<div class="moduletitle"><h3>Messages for {{event.name}}</h3></div>
		<div class="messages">
			<ul>
				<li>
					{% for m in event.messages %}
						<div class="eventmessage">
						<div class="emsender"><span class="label">From:</span> <a href="{{ m.sender.url }}">{{ m.sender.name }}</a></div>
						<div class="emsenttime">{{ m.get_sent_time }}</div>
						<div class="emsubject"><span class="label">Subject:</span> {{ m.title }}</div>
						<div class="emmessage">{{ m.content }}</div>
						{% if eventvolunteer %}
							<div class="emmessagedelete"><form method="post" action="{{m.url}}">
								<input type="hidden" name="is_delete" value="true" />
								<input type=hidden name="session_id" value="{{ session_id }}" />
								<input type="submit" value="delete" />
							</form></div>
						{% endif %}
						</div>
					{% endfor %}
					</li>
				</ul>
		</div>
	</div><!--end eventmessages-->