
<div id="personupcomingevents" class="hardmodule">
	{% if event.specialinstructions and event.specialinstructions|length %}
	<div class="moduletitle">
		<h3>Special Instructions from the Event Host</h3>
	</div>
	{% endif %}
	<ul>
		<li>{% if event.specialinstructions and event.specialinstructions|length %}{{ event.specialinstructions }}{% endif %}</li>
		<li class="tallerlistitem"><a href="mailto:{{ event.contact }}">&raquo; Contact Event Host</a></li>
	</ul>
</div><!--end profileupcomingevents-->