
<div id="personupcomingevents" class="hardmodule">
	{% if event.special_instructions and event.special_instructions|length %}
	<div class="moduletitle">
		<h3>Special Instructions from the Event Host</h3>
	</div>
	{% endif %}
	<ul>
		<li>{% if event.special_instructions and event.special_instructions|length %}{{ event.special_instructions }}{% endif %}</li>
		{% if not eventvolunteer.isowner %}
		  <li class="tallerlistitem"><a href="mailto:{{ contact.user.email }}" class="operation">! Contact Event Host</a></li>
        {% endif %}
	</ul>
</div><!--end profileupcomingevents-->