		
<div id="personupcomingevents" class="softmodule">
	<div class="moduletitle"><h3>My Upcoming Events</h3></div>
	{% for event in my_future_events %}
		{% include "../events/_event_list_item.html" %}
	{% endfor %}
</div><!--end profileupcomingevents-->

{% if my_future_events %}
    {% ifnotequal my_future_events|length 0 %}
    <div class="pagination_entry">
        <a href="/events/upcoming/volunteer/{{volunteer.key.id}}/1">&raquo; View all of my upcoming events</a>
    </div>
    {% endifnotequal %}
{% endif %}