{% extends "../_layout.html" %}

{% block title %}
Flash Volunteer Event : {{event.name}}
{% endblock title %}

{% block eventsactive %}
class="current"
{% endblock %}


{% block pagespectitle %}
<h1>Event: {{event.name}}</h1>
{% endblock pagespectitle %}


{% block content %}

<div id="lefthalf">
	{% include "../events/_details.html" %}
	{% include "../events/_description.html" %}
	{% include "../events/_special_instructions.html" %}
    {% include "../events/_event_map.html" %}
	
</div>

<div id="righthalf">
	{% if event.inpast and eventvolunteer.isowner %}
       {% include "../events/_attendees_past_owner.html" %}
    {% else %}
	   {% include "../events/_attendees.html" %}
    {% endif %}
    
</div>



{% endblock content %}

