{% extends "../_layout.html" %}

{% block title %}
Flash Volunteer Event : {{event.name}}
{% endblock title %}

{% block eventsactive %}
class="current"
{% endblock %}


{% block pagespectitle %}
<h1>Event: {{event.name}}</h1>
{% endblock pagespectitle %}


{% block content %}

<div id="lefthalf">
	{% include "../events/_details.html" %}
	{% include "../events/_description.html" %}
	{% include "../events/_special_instructions.html" %}
</div>

<div id="righthalf">
	{% include "../events/_event_map.html" %}
	{% include "../events/_attendees.html" %}
</div>

{% endblock content %}

