{% extends "../dialog_layout.html" %}

{% block dialog_title %}
    Event search results
{% endblock dialog_title %}

{% block dialog_content %}
    <div style="padding-bottom:6px">
        <span class="label">You have searched for events
        {% if neighborhood %}
            in {{neighborhood.name}}.
        {% else %}
            in all neighborhoods.
        {% endif %}
        {% if fromdate %}
            on or after {{fromdate|date:"F jS, Y" }}
            {% if todate %}
                and on or before {{todate|date:"F jS, Y" }}.
            {% endif %}
        {% endif %}
        {% if interestcategory %}
            related to {{ interestcategory.name|striptags}}
        {% else %}
        {% endif %}
        </span>
    </div>
    
    <div class="dialog_container search_results">
        {% if events %}
            {% for event in events %}
                {% include "../events/_event_list_item.html" %}
            {% endfor %}
        {% else %}
        <p>No search results found.</p>
        {% endif %}
    </div>
	<script>
	   function get_params(){
	   	   return get_search_params();
	   }
	</script>

{% endblock dialog_content %}