{% extends "../_layout.html" %}
{% block title %}
Events
{% endblock title %}

{% block eventsactive %}
class="current"
{% endblock %}


{% block content %}

<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
</script>
	
{% if volunteer %}
	<div id="lefthalf">

		{% include "events_page/_volunteer_hosting_events.html" %}
		{% include "events_page/_volunteer_upcoming.html" %}
		{% include "events_page/_volunteer_past.html" %}
		{% include "events_page/_recommended_events.html" %}
	</div><!--end lefthalf-->
	
	<div id="righthalf">
		{% include "events_page/_create_event.html" %}
		{% include "events_page/_find_event_wide.html" %}
		{% include "events_page/_upcoming_events.html" %}
	</div><!--end righthalf-->
{% else %}
	<div id="lefthalf">
		{% include "events_page/_upcoming_events.html" %}
	</div><!--end lefthalf-->
	
	<div id="righthalf">
		{% include "events_page/_find_event_wide.html" %}
		{% include "events_page/_create_event.html" %}
	</div><!--end righthalf-->

{% endif %}
	
{% endblock content %}
