{% extends to_extend %}


{% block pagespectitle %}
<h1>{{event.name|striptags}} 
    {% if not event.verified %}
        <span class="verification_warning_wrapper">
             <a class="verification_warning" title="This event has yet to be checked by Flash Volunteer admins">(!)</a>
         </span>
    {% endif %}

</h1>
{% endblock pagespectitle %}

{% block content %}

<script>
      set_active('events');

      $(document).ready(function() {
            load_title('Event : {{event.name|striptags}}');
      });
</script>



{% if event.inpast %}
    <div class="event_note">
        This event has already happened. 
	</div>

{% endif %}

<div id="lefthalf">
	{% include "../events/event_page/_details.html" %}

    {% include "../events/event_page/_event_hosts.html" %}

    {% if event.inpast and eventvolunteer.isowner %}
       {% include "../events/event_page/_attendees_past_owner.html" %}
    {% else %}
       {% include "../events/event_page/_attendees.html" %}
    {% endif %}	
    {% comment %}
        show photos, and allow to add albums and photos
    {% endcomment %}
    
	{% if eventvolunteer %}
    	{% include "../events/event_page/_event_photos.html" %}
    {% endif %}
</div>

<div id="righthalf">

    {% if not event.inpast %}
        {% include "../events/event_page/_event_header.html" %}
    {% endif %}
	
	{% include "../events/event_page/_event_map.html" %}

    {% include "../events/event_page/_description.html" %}
    {% include "../events/event_page/_special_instructions.html" %}
    
    {% include "../messages/_forum_embed.html" %}
	
</div>



{% endblock content %}

