{% extends to_extend %}

{% block content %}

<script>
      set_active('events');

      $(document).ready(function() {
            load_title('Receipt for {{eventvolunteer.volunteer.account.name|striptags}} attending {{eventvolunteer.event.name|striptags}}');
      });
</script>

<p>{{now}}</p>

{% if eventvolunteer.attended %}

  <p>{{event.hosts}} certifies that 

  {{volunteer.account.name|striptags}}

  attended 

  {{event.name|striptags}}, held in {{event.neighborhood.name}} on {{event.get_startdate_long}}.</p>

  {% if eventvolunteer.hours %}
  <p>{{volunteer.account.name|striptags}} volunteered for {{eventvolunteer.hours}} hours.</p>
  {% endif %}

<hr>
  <p>Receipt provided by Flash Volunteer (http://www.flashvolunteer.org).  Flash Volunteer makes no claims to the accuracy of this receipt. For further information, please contact the event host.</p>
{% else %}

  {{event.hosts}} has not yet certified that you attended the event.

{% endif %}

{% endblock %}