
{% extends to_extend %}

{% block content %}

<script>
      set_active('admin');

      $(document).ready(function() {
            load_title('Publish All for Good opportunities');
            load_header('');
      });
</script>

<style>
	#afg_opportunity_list td {
		vertical-align: top;
		border-bottom: 3px dotted #aaa;
		padding: 10px 10px;
	}
	#afg_opportunity_list tr.published {
		background-color: #00ff00;
	}
    #afg_opportunity_list tr.dismissed {
    	background-color: #f99;
    }

</style>

<script>

    function dismiss(id){
        $.post("/admin/afg_interface/dismiss", {session_id: "{{ session_id }}", id:id}, 
        function(data){
            //$('#columns').load("{{page_volunteer.url}}");
        });
		
		$('#opp' + id).addClass('dismissed');
        $('#opp'+id+'_ops').html('<strong>Dismissed</strong>'); 
    }

</script>



<div style="font-size:150%; padding: 25px;" id="pull_down_afg_events">
	<a href="/admin/afg_interface/rebuild" class="operation fv">Check for new opportunities from All for Good</a>
</div> 

<table id="afg_opportunity_list">
	<tbody>
		<tr>
			<th></th>
			<th>Score</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Location</th>
			<th>Description</th>
			<th>Special Instructions</th>
		</tr>
		{% for o in opportunities %}
		  <tr id="opp{{o.afg_id}}">
		  	<td>
		  		<a href="{{o.url}}" target="_blank">{{o.title}}</a><br>
				{{o.provider}}<br>
				{{o.contact_email}}<br><br>
				<div id="opp{{o.afg_id}}_ops">
					   <a class="operation fv" href="/admin/afg_interface/publish?id={{o.afg_id}}">&raquo; Publish to FV</a><br>
					   <a class="operation" onclick=dismiss('{{o.afg_id}}') method="post">&raquo; Dismiss</a>
			    </div>
			</td>
            <td>{{o.score}}</td>
			<td>{{o.startdate}}</td>
            <td>{{o.enddate}}</td>
			<td>{{o.location}}</td>
            <td>{{o.description}}</td>
            <td>{{o.skills}}</td>
		  </tr>
		{% endfor %}
		
	</tbody>
	
</table>

{% endblock content %}