
{% extends to_extend %}

{% block content %}

<script>
      set_active('admin');

      $(document).ready(function() {
            load_title('Custom query');
            load_header('');
      });
</script>


<ul>
    <li><a href="/admin" class="fv">&laquo; back to admin home</a></li>

    <li><button class="submit" onclick=rebuild()>Check for new opportunities</button></li>

</ul>

<table id="afg_opportunity_list">
    <tbody>
        <tr>
            <th>Person</th>
            <th>Email</th>
				<th>Added</th>
        </tr>
        {% for v in results %}
		    {% if v.preferred_email %}
          <tr>
            <td><a href={{v.url}}>{{v.get_name}}</a></td>
            <td>{{v.preferred_email}}</td>
				<td>{{v.date_added}}</td>
          </tr>
			 {% endif %}
        {% endfor %}
        
    </tbody>
    
</table>

{% endblock content %}