{% extends to_extend %}

{% block content %}

<script>
      set_active('admin');

      $(document).ready(function() {
            load_title('Flash Volunteer Admin Page');
            load_header('');
      });
</script>

{% if not volunteer.is_admin %}
	<div id="home-top">
	
	    <div id="home-error">
	        This section is for Flash Volunteer {{application_alias}} administrators only!
	    </div>
	</div>
{% else %}
	<div id="home-top">
      
        <h2>Site administration</h2>
		<ul>		
		<li><a class="fv" href="/admin/afg_interface">Manage All for Good opportunities</a></li>
		<li><a class="fv" href="/admin/send_message">Send site-wide message</a>  </li> 
		</ul>
		
		<h2>Technical administration</h2>
		<ul>
			
		<li><a class="fv" href="/admin/sync_with_mail_chimp">Sync with Mail Chimp</a></li>
        <li><a class="fv" href="/admin/sync_application">Sync application data</a></li>
		<li><a class="fv" href="/admin/migrate">Migrate datastore</a></li>
		<li><a class="fv" href="/admin/searchadmin">Manage index needed for full-text search</a></li>

        </ul>
	    
		<h2>Wishlist</h2>
		<ul>
		  <li><a class="fv" href="/admin/event_verify">Verify events</a></li>
		<li><a class="fv" href="/admin/add_neighborhood">Add neighborhood</a></li>
		<li><a class="fv" href="/admin/add_application">Add application</a>	</li>
		<li><a class="fv" href="/admin/modify_user">Modify user</a>   </li>
		</ul>
	</div>
	
{%endif%}

{% endblock content %}
