{% extends to_extend %}

{% block content %}

<script>
      set_active('admin');

      $(document).ready(function() {
            load_title('Flash Volunteer Admin Page');
            load_header('');
      });
</script>

{% if not account.is_admin %}
	<div id="home-top">
	
	    <div id="home-error">
	        This section is for Flash Volunteer {{application_alias}} administrators only!
	    </div>
	</div>
{% else %}
    <style>
    	h2 {
            margin: 15px 0 5px 0;
			}
    </style>
	<div id="home-top">
      
        <h2>Site administration</h2>
		<ul>		
		<li><a class="fv" href="/admin/afg_interface">Manage All for Good opportunities</a></li>
		<li><a class="fv" href="/admin/send_message">Send site-wide message</a>  </li> 
		</ul>
		
		<h2>Technical administration</h2>
		<ul>
			
		<li><a class="fv" href="/admin/sync_with_mail_chimp">Sync with Mail Chimp</a></li>
		<li><a class="fv" href="/admin/migrate">Migrate datastore</a></li>

        </ul>
	    
		<h2>Wishlist</h2>
		<ul>
		  <li><a class="fv" href="/admin/event_verify">Verify events</a></li>
		<li><a class="fv" href="/admin/add_neighborhood">Add neighborhood</a></li>
		<li><a class="fv" href="/admin/add_application">Add application</a>	</li>
		<li><a class="fv" href="/admin/modify_user">Modify user</a>   </li>
		</ul>
	</div>
	
<!--
<div id="admintask">

	{% include "_unverified_event_list.html" %}

    <div class="submit_verify_events">
        <input type="submit" id="s_verify_events" value="Verify These Events" /> 
    </div>

	<div style="clear: both;"></div>

</div>
-->

{%endif%}

{% endblock content %}
