
a {
	color: #008c99;
}

html {
	background: #3b3b3b;
}

body {
	background: #3b3b3b;
	color: #838383;
	font-family: "lucida grande", tahoma, verdana, arial, san-serif;
	font-size: 9pt;

}

#container {
	position: relative;
	margin-top: 70px;
	height: 550px;
	border-top: #30b003 7px solid;
	border-bottom: #30b003 7px solid;
	background: #FFF;
}

#subcontainer {
	margin: auto;
	position: relative;
	width: 760px;
}
#left {
	float: left;
	width: 280px;
	text-align: right;
	margin-right: 20px;
}

#left img {
	position: relative;
	top: 20px;
}
#right {
	float: right;
	width: 430px;
	border-left: #d8d8d8 solid 1px;
	margin-top: 38px;
	padding: 0 0 0 20px;
}

#discover {
	font-weight: bold;
	color: #008c99;
	font-size: 15pt;
}

#info {
	margin-top: 14px;	
}

#benefitsindividuals {
	margin-top: 20px;
}

#benefitsorgs {
	margin-top: 20px;
}

#releaseinfo {
	margin-top: 40px;
	color: #008c99;
	font-weight: bold;
}

#moreinfo {
	margin-top: 20px;
}

.listlabel {
	color: #30b003;
	font-weight: bold;
	font-size: 9pt;
}

li {
	margin: 5px 0 0 15px;
	list-style: url(raquo.png) outside;
	font-size: 8pt;
}

/*
#008c99 - blue colored text
#5e5e5e - grey text

*/
