{% extends "_layout.html" %}

{% block title %}
Flash Volunteer Event : {{event.name}} : Edit
{% endblock title %}

{% block content %}

<form method="post" action="/events/{{event.key.id}}/edit">
<h1>Editing <input type="text" name="name" value="{{event.name}}"></h1>
<p>Being held in
{% include "_neighborhoods.html" %}</p>

<a href="/events/{{event.key.id}}">Cancel</a> <input type="submit" value="update">
</form>
<p>
<h3>Signed up volunteers:</h3>
<ul>
{% for volunteer in event.volunteers %}
<li>{{ volunteer.user.nickname }}</li>
{% endfor %}
</ul>
</p>
{% endblock content %}

