{% extends "_layout.html" %}
{% block title %}
Create an Event
{% endblock title %}

{% block content %}
	<h1>Create an Event</h1>
	<div>Today's Message: {{ message }} </div>
	<form action="/events" method="post">
		Neighborhood: {% include "_neighborhoods.html" %}
<BR>
		Event Title:<input type="text" name="name"><BR>
		<input type="submit" value="Create Event">
	</form>
	<div>
	{% if events %}
	   Created Events:<BR><table border="1">
       {% for event in events %}
	    <tr>
		<td><a href="events/{{event.key.id}}">{{event.name}}</a></td>
		<td>{{event.neighborhood.name}}</td>
		<td><form action="/events" method="post">
        <input type=hidden name="delete" value="true">
        <input type=hidden name="id" value="{{event.key.id}}">
        <input type=submit value="delete">
        </form></td></tr>
	   {% endfor %}
	   </table>
	{% else %}
		Create an Event</br>
	{% endif %}
	</div>
	
	<div><a href="{{logout_url}}">logout</a></div>
	<div><a href="/">home</a></div>
{% endblock content %}