{% extends "_layout.html" %}
{% block title %}
Volunteer Settings
{% endblock title %}

{% block content %}
 <h1>Volunteer Settings</h1>
	<BR> Todays message: {{ message }}
	<BR> Manage your settings:
	<div> Neighborhood: <form action="/settings" method="post">
		{% include "_neighborhoods.html" %}
		<input type=submit value="Update your neighborhood">
		<input type=hidden name="session_id" value="{{ session_id }}">
		</form>
	</div>
	<div>
		<form action="/delete" method="get"> <input type="submit" value="Delete your account"></form>
	</div>
{% endblock content %}