a {
	border: none;
	font-weight: normal;
	text-decoration: none;
}

a, #slogan {
	color: #4eA0A7;
}

h2 {
	font-weight: bold;
}

body {
	font-family: "lucida grande", tahoma, verdana, arial, san-serif;
	font-size: 9pt;

}

#container {

}

#top {
	background: #3b3b3b;
	height: 250px;
	border-bottom: #30b003 7px solid;
	color: #838383;

}

#bottom {
	background: #FFF;
	position: absolute;
	background: #FFF url(/stylesheet/content-top-rpt-horiz.png) repeat-x top;
	width: 100%;
	top: 257px;
	margin-left: 0;
	left: 0;
	color: #666;

}

#bottom-wrap,
#top-wrap {
	height: 100%;
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
}


#top-wrap .float {
	float:left;	
}

#top-wrap #fvlogo {
	margin-right: 100px;
	margin-top: 100px;
}

#top-wrap #beta {
	margin-right: 35px;
	margin-top: 70px;
}

#top-wrap #beta-text {
	margin-top: 100px;
	width: 200px;
	font-size: 85%;
}

#bottom-wrap {
	margin-top: 25px;
	
}

#middle,
#left {
	float: left;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	height: 100%;
}

#middle ol {
	list-style-position: outside;
}

#middle li {
	list-style-type:decimal;
}
#left {
	width: 350px;

}
#slogan {
	font-size: 215%;
	font-family: serif;

}

#cols {
	height: 260px;
}
#left p {
	margin-top: 10px;
	
}

#middle {
	width: 200px;
	padding-left: 20px;
}
#right {
	float: left;
	width: 200px;
	padding-left: 20px;
}

#right .login_type {
	float:left;
}

#right .login_style {
	color: #30b003;
	font-size: 165%;
	padding-top: 4px;
	font-weight: bold;
	font-style:italic;
	font-family: serif;

}
#right #log-in{
	padding-top: 15px;
}
#right .login_subtext {
	letter-spacing: .25em;
	font-family: serif;
	font-size: 110%;
	padding-top: 1px;
}

.login_type p{
	width: 85%;
	padding-top: 5px;	
	padding-bottom: 5px;
	font-size: 8pt;
}
#footer{
	width: 100%;
	height: 100px;
	margin-top: 50px;
}	

#footer ul{
	margin-right: auto;
	margin-left: auto;
	width: 625px;
}

#footer ul li{
	float: left;
	padding-right: 20px;
	font-size: 9pt;
}

#footer #copyright{
	top: 30px;
	font-size: 8pt;
	color: #C6C6C6;
	text-align: center;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}


#left #badges {
	height:120px;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
	width: 100%;
}
#left .badge {
	float:left;
	text-align: center;
	padding-right: 20px;
}

#left #fb-badge {
	padding-top: 28px;
}

.listlabel {
	color: #30b003;
	font-weight: bold;
	font-size: 9pt;
}

li {
	margin: 5px 0 0 15px;
	font-size: 8pt;
}


.button{
	display: block;
	height: 22px;
	color: #222;
	margin-top: 5px;
	padding-right: 10px;
	width: 70%;
	font-size: 120%;
	font-variant: small-caps;
	text-align: center;
	font-weight:bold;
	cursor:hand;
}

.buttonleft {
	display: block;
	float: left;
	width: 10px;
	height: 100%;
	background: url(/stylesheets/buttons/green/FV_Button_Green_Left.gif) left;
}

.buttoncenter {
	display: block;
	float: left;
	height: 100%;
	width: 75%;
	padding-top: 2px;
	background: url(/stylesheets/buttons/green/FV_Button_Green_Center.gif) repeat-x;
}

.buttonright {
	display: block;
	float: left;
	width: 10px;
	height: 100%;
	background: url(/stylesheets/buttons/green/FV_Button_Green_Right.gif) left;
}


/*
#008c99 - blue colored text
#5e5e5e - grey text

*/
