<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<!--<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/ie7_new.css" /><![endif]-->
    <!--[if lt IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/ie6_new.css" /><![endif]-->
  </head>
 <body>
<div id="container"> 
<div id="top">
	<div id="logo"><a href="/"><img src="/stylesheets/splash/logo.png" alt="Flash Volunteer Logo"/></a></div>
	{%if volunteer %}
		<div id="volunteerwelcome">Welcome, {{ volunteer.get_name|striptags }} <br /><a href="{{ volunteer.logout_url }}" id="l_logout">Log Out</a></div>
	{% endif %}
	<ul id="navtabs">
		<li id="homelink"><a href="/" {% block homeactive %}{% endblock homeactive %} id="l_home">HOME</a></li>
		<li id="eventslink"><a href="/events" {% block eventsactive %}{% endblock eventsactive %} id="l_events">EVENTS</a></li>
		<li id="neighborhoodslink"><a href="/n
		eighborhoods" {% block neighborhoodsactive %}{% endblock neighborhoodsactive %} id="l_neighborhoods">NEIGHBORHOODS</a></li>
		<li id="teamlink"><a href="/team" {% block friendsactive %}{% endblock friendsactive %} id="l_friends">PEOPLE</a></li>
		<li id="profilelink"><a href="/settings" {% block profileactive %}{% endblock profileactive %} id="l_profile">PROFILE</a></li>
		<li id="helplink"><a href="/static/help" {% block helpactive %}{% endblock helpactive %} id="l_help">HELP</a></li>
		{% if volunteer.can_create_events %}
		<li id="createeventlink"><a href="/events/new" {% block createeventactive %}{% endblock createeventactive %} id="l_create_event">CREATE EVENT</a></li>
		{% endif %}
	</ul>
</div><!--end top-->

<div id="bottom">
	<div id="pagespectitle"><!--page title-->{% block pagespectitle %}{% endblock pagespectitle %}</div><!--end pagespectitle-->
	<div id="columns">
	{% block content %}
	{% endblock content %}
</div><!--end columns-->
<div id="footer">
	<ul>
		<li><a href="/static/about">About Flash Volunteer</a></li>
		<li><a href="/static/feedback">Give Us Feedback</a></li>
		<li><a href="/static/donate">Donate</a></li>
		<li><a href="/static/privacy">Privacy Policy</a></li>
		<li><a href="/static/tos">Terms of Use</a></li>
	</ul>
	<div id="copyright">Copyright &copy; 2009 Flash Volunteer. All Rights Reserved.</div>
</div><!--end footer-->
</div><!--end bottom-->
</div><!--end content-->
</body>
</html>
