<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
	<title></title>

    <link rel="shortcut icon" href="/stylesheets/favicon.ico" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/css/fv.min.css" />
	<!--<link rel="stylesheet" type="text/css" href="/stylesheets/css/reset-min.css"> 
    <link type="text/css" href="/stylesheets/jquery/css/flashvolunteer/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />  
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/css/layout.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/css/colors_backgrounds_borders.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/create_event.css" /> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/event_photos.css" />-->

	<script>
		if (!Array.prototype.indexOf) {  Array.prototype.indexOf = function(elt /*, from*/) {    var len = this.length >>> 0;    var from = Number(arguments[1]) || 0;    from = (from < 0)         ? Math.ceil(from)         : Math.floor(from);    if (from < 0)      from += len;    for (; from < len; from++) {      if (from in this &&          this[from] === elt)        return from;    }    return -1;  };}
	</script>
	
	
    <!--<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->

    <link rel="stylesheet" type="text/css" href="http://www.google.com/uds/api/feeds/1.0/f471ca262fef1bea760861a87b7a2baa/default.css" />	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://www.google.com/uds/?file=feeds&v=1"></script>
    <script type="text/javascript" src="http://www.google.com/uds/api/feeds/1.0/f471ca262fef1bea760861a87b7a2baa/default+en.I.js"></script>
	
    
	<script type="text/javascript" src="/stylesheets/javascript/fv.min.js"></script>     	
	
	<!--
    <script type="text/javascript" src="/stylesheets/jquery/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/stylesheets/json/json2.min.js"></script>
	<script type="text/javascript" src="/stylesheets/javascript/jquery.address-1.0.js"></script>


	<script type="text/javascript" src="/stylesheets/javascript/misc_ajax.js"></script>
	<script type="text/javascript" src="/stylesheets/javascript/misc.js"></script>

	<script type="text/javascript" src="/stylesheets/javascript/dialog_box.js"></script>
    <script type="text/javascript" src="/stylesheets/javascript/load_page_info.js"></script>

	<script type="text/javascript" src="/stylesheets/javascript/mtaTwitterStatuses.js"></script>

		<script type="text/javascript" src="/stylesheets/javascript/jquery.validate.js"></script>
	<script type="text/javascript" src="/stylesheets/javascript/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="/stylesheets/javascript/jquery.timepicker.js"></script>
    -->
	
	
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/css/ie7.css" /><![endif]-->
    <!--[if lt IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/css/ie6.css" /><![endif]-->
    
	<script>
      $(document).ready(function(){ //this is for dynamic page loader
          set_page_loader('#navtabs a.fv, a#l_create, a#l_login, #static_nav');
		  
	      $.address.change(function(event) { //every time the address bar is changed...
	        $('#columns').load(event.value);    
            //console.log("address change:"+$.address.path());
	      }); 
		  $.address.init(function(event){
		  	var start_of_path_url = event.target.baseURL().indexOf('/', 7);
            if (start_of_path_url > -1){
				var nest_path = event.target.baseURL().substring(start_of_path_url);
				//console.log("INIT changing address to:"+nest_path);

		    	$.address.value(nest_path);
            }
		  });
          
      });
	</script>

    <script type="text/javascript">
        $(document).ready(function(){ //this is for the ajax loading gif

          $('#loadingDiv')
		    .hide()  // hide it initially
		    .ajaxStart(function() {
				$(this).fadeIn();
				//$('#content').fadeTo('slow',.33);
		    })
		  	.ajaxStop(function() {
				$(this).fadeOut();
				//$('#content').fadeTo('normal', 1.0);
		    });

        });
    </script>

    <script type="text/javascript">

        $(document).ready(function() {
			console.log('checking notifications');
            {% if notification_message %}
			     console.log('found notification');
                $('#container').append('<div id="dialog" title="Notifications"><p>{{notification_message}}</p></div>');
                $.ui.dialog.defaults.bgiframe = true;
                $(function() {
                    $("#dialog").dialog({
                        buttons: { "Ok": function() { $(this).dialog("close"); } },
                        modal: true,
                        draggable: false,
                        resizable: false,
                    });
                });
            {% endif %}
            {% if header_message %} 
                $('#message_banner').html('<p>{{header_message}}</p>');
                $('#message_banner').show();
            {% else %}
               $('#message_banner').hide();
            {% endif %}           
        });
    </script>
	
	{% block head %}{% endblock head %}
  </head>
 <body>
	
 	<div id="container">	

	<div id="top">
			<div id="logo-strip">
				<div id="logo" class="fl"><a class="fv" href="/"><img src="/stylesheets/media/logo-smaller.png" alt="Flash Volunteer Logo"/></a></div>
				{%if account and account.is_saved%}
				    <div id="volavatar">
		    	        <div class="volunteer_summary_pic">
				            <a class="fv" href="/settings" >
				            <img class="smallavatar" src="
				            {% if volunteer.avatar %}
				                {{ volunteer.url }}/avatar
				            {% else %}
				                /stylesheets/media/default-profile-pic-small.png
				            {% endif %}
				            " alt="{{ account.get_name }}" /></a>
				        </div>
				    </div>
					<div id="volunteerwelcome">Welcome, {{ account.get_name|striptags }} <br /><a class="fv" href="/logout" id="l_logout">Log Out</a></div>
				{% else %}
					<div id="volunteerwelcome"><a class="fv" href="/login" id="l_login">Log in</a> or <a class="fv" href="/new" id="l_create">create an account</a></div>			
				{% endif %}
		    </div><!--end logo-strip-->
    </div><!--end top-->
    <!--<div class="gradient"></div>-->

	<div id="navtabs">
		<ul>
			<li id="homelink"><a class="fv" href="/" {% block homeactive %}{% endblock homeactive %} id="l_home">HOME</a></li>
            {%if volunteer and volunteer.is_saved%}
                <li id="profilelink"><a class="fv" href="/profile" {% block profileactive %}{% endblock profileactive %} id="l_profile">PROFILE</a></li>
				<li id="mailboxlink"><a class="fv" href="/messages" {% block mailboxactive %}{% endblock mailboxactive %} id="l_mailbox">MAILBOX {% if volunteer and volunteer.is_saved %} {% ifequal unread_message_count 0 %}{%else%} ({{unread_message_count}}){%endifequal%}{%endif%}</a></li>        
            {% endif %}                
			<li id="eventslink"><a class="fv" href="/events" {% block eventsactive %}{% endblock eventsactive %} id="l_events">EVENTS</a></li>
			<li id="neighborhoodslink"><a class="fv" href="/neighborhoods" {% block neighborhoodsactive %}{% endblock neighborhoodsactive %} id="l_neighborhoods">NEIGHBORHOODS</a></li>
			{%if volunteer and volunteer.is_saved%}
				<li id="teamlink"><a class="fv" href="/team" {% block friendsactive %}{% endblock friendsactive %} id="l_friends">PEOPLE</a></li>
			{% endif %}
			<li id="helplink"><a class="fv" href="/static/help" {% block helpactive %}{% endblock helpactive %} id="l_help">HELP</a></li>
			{%if account and account.is_admin %}
				<li id="adminlink"><a class="fv" href="/admin" {% block adminactive %}{% endblock adminactive %} id="l_admin">ADMIN</a></li>
			{% endif %}
		    <li id="loadingContainer">
		        <img style="height:12px" id="loadingDiv" src="/stylesheets/media/ajax-loader.gif" alt="Loading" />
			</li>
		</ul>
	</div><!--end navtabs-->

    <style>
    	#message_banner{
    		width: 100%;
			background-color: #B2DCE0;
			font-weight: bold;
			font-size: 100%;
			margin-top: 15px;
			color: #111;
			display:none;
    	}
		#message_banner p {
			margin-left:auto;
			margin-right:auto;
			width:840px;
			padding: 10px;
		}
    </style>
    <div id="message_banner"><!--empty--></div>

<div id="content"> 

	<div id="bottom">

		<div id="columns">

		</div>
		<div id="dialogs"><!----></div>
	</div><!--end bottom-->

</div><!--end content-->
<div id="clearfooter"><!--empty--></div>

</div><!--end container-->

<div id="footer">
		<ul id="static_nav">
			<li><a class="fv" href="/static/about">About</a></li>
			<li><a class="fv" href="/static/partners">Partners</a></li>
			<li><a class="fv" href="/static/privacy">Privacy Policy</a></li>
			<li><a class="fv" href="/static/tos">Terms of Use</a></li>
		</ul>
        <div id="badges">
        	<ul>
	            <li class="badge" id="fb-badge">
	                <a href="http://www.facebook.com/pages/Flash-Volunteer/75272433226"><img id="fb-badge-img" src="/stylesheets/media/find-us-on-facebook.png" alt="Find us on Facebook"/></a>
	            </li>
	            <li class="badge" id="twitter-badge">
	                <a href="http://twitter.com/flashvolunteer"><img id="twitter-badge-img" src="/stylesheets/media/tw2_gif.gif" alt="Follow us on Twitter"/></a>                     
	            </li>
				<li class="badge" id="donate-badge">
	                <a class="fv" href="/static/donate"><img id="donate-badge-img" alt="" border="0" src="/stylesheets/media/donate.gif"></a>                     
	            </li>
	        </ul>          
        </div>
	      <div id="copyright">Flash Volunteer &copy; 2009</div>

</div><!--end footer-->




<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10613308-2");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript">
  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  /* required */
  key: 'flashvolunteer',
  host: 'flashvolunteer.uservoice.com', 
  forum: '26150', 
  /* optional */
  alignment: 'left',
  background_color:'#2fb002', 
  text_color: 'white',
  hover_color: '#008c98',
  lang: 'en'
})
</script>
</body>
</html>