
        
	    <!--page title--><div id="pagespectitle"></div><!--end pagespectitle-->

        {% if notification_message %} 
            <script type="text/javascript">

                $(document).ready(function() {
                    $('#container').append('<div id="dialog" title="Notifications"><p>{{ notification_message }}</p></div>');
                    $.ui.dialog.defaults.bgiframe = true;
                    $(function() {
                        $("#dialog").dialog();
                    });
                });
            </script>
        {% endif %}

        <script>
            $(document).ready(function(){

              $('#content a.fv').each(function(){
	              $(this).click(function() {  
	                $.address.value($(this).attr('href').replace(/\/#/, ''));  
	              });
	              
	              $(this).address(function() {  
	                return $(this).attr('href').replace(/\/#/, '');  
	              });  
			  });
            });
        </script>
		
        {% block content %}
        {% endblock content %}

        <div style="clear:both"> </div>
        