
        
	    <!--page title--><div id="pagespectitle"></div><!--end pagespectitle-->

        
		<script type="text/javascript">
		
		    $(document).ready(function() {
		        console.log('checking notifications');
		        {% if notification_message %}
		             console.log('found notification');
		            $('#container').append('<div id="dialog" title="Notifications"><p>{{notification_message}}</p></div>');
		            $.ui.dialog.defaults.bgiframe = true;
		            $(function() {
		                $("#dialog").dialog({
		                    buttons: { "Ok": function() { $(this).dialog("close"); } },
		                    modal: true,
		                    draggable: false,
		                    resizable: false,
		                });
		            });
		        {% endif %}
		        {% if header_message %} 
		            $('#message_banner').html('<p>{{header_message}}</p>');
		            $('#message_banner').show();
		        {% else %}
		           $('#message_banner').hide();
		        {% endif %}           
		    });
		</script>

        {% if not account %}
        <script>
        	/* This is for detecting a session timeout and refreshing 
        	 * all the content. 
        	 */
            $(document).ready(function(){
              if ($('#l_logout').length > 0){
				location.reload(true); 
              }             				
			});
		</script>
        {% endif %}

	    <script>
	        $(document).ready(function(){	
	          set_page_loader('#content');
			  set_page_loader('#message_banner');
	        });
	    </script>
		
		
		
        {% block content %}
        {% endblock content %}

        <div style="clear:both"> </div>
        