{% extends "_layout.html" %}
{% block title %}
Create an Event
{% endblock title %}

{% block eventsactive %}
class="current"
{% endblock %}

{% block content %}
	<h1>Create an Event</h1>
	<div>Today's Message: {{ message }} </div>
	<form action="/events" method="post">
		Neighborhood: {% include "_neighborhoods.html" %}
<BR>
		Event Title:<input type="text" name="name"><BR>
		  
		<h3>Interest categories</h3>
    {% include "_interestcategories.html" %}
		  
		<input type="submit" value="Create Event">
		<input type=hidden name="session_id" value="{{ session_id }}">
	</form>
	<div>
	{% if eventvolunteer %}
	   Your events:<BR>{% include "_events.html" %}
	{% else %}
		Create an Event</br>
	{% endif %}
	</div>
{% endblock content %}