{% extends "_layout.html" %}
{% block title %}
Flash Volunteer
{% endblock title %}

{% block homeactive %}
class="current"
{% endblock homeactive %}


{% block content %}

<div id="leftthird">

		<div id="personblock" class="softmodule">
			{% if volunteer.avatar %}
				<img src="/volunteers/{{volunteer.key.id}}/avatar" alt="{{ volunteer.user.nickname }}" />
			{% else %}
				<img src="/stylesheets/default-profile-pic.png" alt="{{ volunteer.user.nickname }}" />
			{% endif %}
			<ul>
				<li id="personname">{{ volunteer.user.nickname }}</li>
				{% if volunteer.personalstatement %}
					<li id="personstatement">{{ volunteer.personalstatement }}</li>
				{% endif %}
				<li class="tallerlistitem"><a href="/settings">&raquo; Edit profile</a></li>
			</ul>
		</div><!--end personblock-->


 <h1>Flash Volunteer</h1>

 Get started!  It's easy!
	<BR> Todays message: {{ message }}
	<div><a href='/settings'>{{ settings_text }}</a></div>	
	<div><a href='/events'>{{ events_text }}</a></div>
	
{% for e in events.items %}{# for each type of event e... #}
	<h3>{{ e.0 }}:</h3>
	<table>
	{% for event in e.1 %}{# for each event of type e...  #}
	<tr>
	<td><a href="events/{{event.key.id}}">{{event.name}}</a></td>
	<td>{{event.neighborhood.name}}</td>
	</tr>
	{% endfor %}
	</table>
{% endfor %}

{% for i in byinterest %}
<h3>Interest: {{ i.name }}</h3>
<table>
  {% for event in i.events %}
<tr>
<td><a href="events/{{event.key.id}}">{{event.name}}</a></td>
<td>{{event.neighborhood.name}}</td>
</tr>
  {% endfor %}
</table>
{% endfor %}

<h3>Users you're following</h3><ul>
{% for f in following %}
<li><a href="/volunteers/{{f.key.id}}">{{f.user.nickname}}</a></li>
{% endfor %}
</ul>
<h3>Users following you</h3><ul>
  {% for f in followers %}
<li><a href="/volunteers/{{f.key.id}}">{{f.user.nickname}}</a></li>

  {% endfor %}
  
</ul>
</div><!--end leftthrid-->

<div id="middlethird">
</div><!--end middlethird-->

<div id="rightthird">
</div><!--end middlethird-->

{% endblock content %}