{% extends "_layout.html" %}
{% block title %}
{{ volunteer.user.nickname }}'s public page
{% endblock title %}

{% block content %}
<h1>{{volunteer.user.nickname}}</h1><BR>
They rep {{volunteer.neighborhood.name}}
<BR>
Their events: {% include "_events.html" %}
<br>
They like:
<ul>
{% for ic in volunteer.interestcategories %}
  <li>{{ic.name}}</li>
{% endfor %}
</ul>

<P>
Following:<ul>
{% for f in volunteer.following %}
<li><a href="/volunteers/{{f.key.id}}">{{f.user.nickname}}</a></li>
{% endfor %}</ul>
</p>

<p>Followers:
  {% if volunteerfollower %}
	<form action="/volunteers/{{ volunteer.key.id }}/follow" method="post">
		<input type=hidden name="session_id" value="{{ session_id }}">
		<input type=hidden name="delete" value="true">
		<input type=submit value="stop following me!">
	</form>
  {% else %}
	<form action="/volunteers/{{ volunteer.key.id }}/follow" method="post">
		<input type=hidden name="session_id" value="{{ session_id }}">
		<input type=submit value="follow me!">
	</form>
  {% endif %}
  
<ul>
  {% for f in volunteer.followers %}
  <li><a href="/volunteers/{{f.key.id}}">{{f.user.nickname}}</a></li>

  {% endfor %}
</ul>
</p>

{% endblock content %}