<li class="imagenameli" >
    <div class="volunteer_summary_family">

        <div class="volunteer_summary_pic">
            <a href="{{ page_volunteer.url }}" >
            <img id="smallavatar" src="
            {% if page_volunteer.avatar %}
                {{ page_volunteer.url }}/avatar
            {% else %}
                /stylesheets/default-profile-pic-small.png
            {% endif %}
            " alt="{{ page_volunteer.get_name }}" /></a>
        </div>
        
        <div class="volunteer_summary_desc">
            <span class="volunteer_summary_name">
             <a id="volunteer_link[{{ page_volunteer.key.id }}]" href="{{ page_volunteer.url }}" >{{ page_volunteer.get_name }}</a>
            </span>
            <div id="volunteer_summary_home"> 
             Lives in <a href="{{ volunteer.home_neighborhood.url }}">{{ page_volunteer.home_neighborhood.name }}</a>
            </div>
            <div id="volunteer_summary_work">
             Works in <a href="{{ volunteer.work_neighborhood.url }}">{{ page_volunteer.work_neighborhood.name }}</a>
            </div>
        </div>
        
        <div class="volunteer_summary_operations">     
            <ul> 
                <li>{% include "../volunteers/operations/_remove_from_family.html" %}</li>
            </ul> 
        </div>
    </div>
        <br/>
</li>