<li class="imagenameli" >
    <div class="volunteer_summary_anonymous">

        <div class="volunteer_summary_pic">
            <img id="smallavatar" src="/stylesheets/default-profile-pic-small.png" alt="anonymous" />
        </div>
        
        <div class="volunteer_summary_desc">
            <span class="volunteer_summary_name">
             Anonymous
            </span>
            <div id="volunteer_summary_home"> 
             Lives in ?
            </div>
            <div id="volunteer_summary_work">
             Works in ?
            </div>
        </div>
    </div>
    <br/>
</li>