

<li class="imagenameli" >

    {% team_status account volunteer_in_list.account %}    
        
    <div class="volunteer_summary">

        
        <div class="volunteer_summary_pic">
            <a class="fv" href="{{ volunteer_in_list.url }}" >
            <img class="smallavatar" src="
            {% if volunteer_in_list.avatar %}
                {{ volunteer_in_list.url }}/avatar
            {% else %}
                /stylesheets/media/default-profile-pic-small.png
            {% endif %}
            " alt="{{ volunteer_in_list.account.get_name }}" /></a>
        </div>
        <div class="volunteer_summary_name">
                <div>
                 <a class="fv" id="volunteer_link[{{ volunteer_in_list.key.id }}]" href="{{ volunteer_in_list.url }}" >
                    {{ volunteer_in_list.account.get_first_name }}
                    <br/>
                    {{ volunteer_in_list.account.get_last_name }}
                 </a>
                </div>

                {% if volunteer %}
				    <div class="person_list_ops">
	                {% ifnotequal volunteer.key.id volunteer_in_list.key.id %}
	                  {% if is_teammate %}
					  {% else %} 
					    <div class="fl">
			                <form title="Add to your Team" action="{{volunteer_in_list.url}}/follow" method="post">
			                    <input type=hidden name="session_id" value="{{ session_id }}">
			                    <input id="operation_add_to_team[{{ volunteer_in_list.key.id }}]" class="operation_minimal" type=image src="/stylesheets/media/add.png" value=""/>
			                </form>
						</div>
                      {% endif %}
                        <div class="fl">
                        	<a class="fv" class="operation" href="{{volunteer_in_list.url}}/send_message?redirect={{path}}" title="send message">
                        		<img src="/stylesheets/media/email_icon.gif" />
							</a>
	                    </div>
					{% endifnotequal %}
					</div>
                {% endif %}
        </div>
                
    </div>
</li>