

<script>
    function add(url, id){
        $.post(url + '/follow', {session_id: "{{ session_id }}"}, 
        function(data){
            $('#'+id).remove();
        });
    }
</script>

<li class="imagenameli" >

    {% team_status volunteer volunteer_in_list %}    
        
    <div class="volunteer_summary">

        
        <div class="volunteer_summary_pic">
            <a class="fv" href="{{ volunteer_in_list.url }}" >
            <img class="smallavatar" src="
            {% if volunteer_in_list.avatar %}
                {{ volunteer_in_list.url }}/avatar
            {% else %}
                /stylesheets/media/default-profile-pic-small.png
            {% endif %}
            " alt="{{ volunteer_in_list.get_name }}" /></a>
        </div>
        <div class="volunteer_summary_name">
            <div>
             <a class="fv" id="volunteer_link[{{ volunteer_in_list.key.id }}]" href="{{ volunteer_in_list.url }}" >
                {{ volunteer_in_list.get_first_name }}
                <br/>
                {{ volunteer_in_list.get_last_name }}
             </a>
            </div>

            {% if volunteer %}
			    <div class="person_list_ops">
                {% ifnotequal volunteer.key.id volunteer_in_list.key.id %}
                  {% if is_teammate %}
				  {% else %} 
				    <div id="add{{ volunteer_in_list.key.id }}" class="fl">
		                <a class="operation_minimal" title="Add to your Flash Team" onclick=add("{{volunteer_in_list.url}}","add{{ volunteer_in_list.key.id }}")><img src="/stylesheets/media/add.png" /></a>
					</div>
                  {% endif %}
                    <div class="fl">
                    	<a class="fv" class="operation" href="{{volunteer_in_list.url}}/send_message?redirect={{path}}" title="send message">
                    		<img src="/stylesheets/media/email_icon.gif" />
						</a>
                    </div>
				{% endifnotequal %}
				</div>
            {% endif %}
        </div>
                
    </div>
</li>