<div id="categoryupcomingevents" class="hardmodule">
    <div class="moduletitle"><h3>Upcoming Events</h3></div>
    {% for event in upcoming_events %}
        {% include "../events/_event_list_item.html" %}
    {% endfor %}


{% if upcoming_events %}
    {% ifnotequal upcoming_events|length 0 %}
        <div class="pagination_entry">
            <a onclick="build_dialog(10,{{category.key.id}})">&raquo; View all</a>
        </div>
    {% endifnotequal %}
{% endif %}

</div>


<div id="categorypastevents" class="hardmodule">
    <div class="moduletitle"><h3>Past Events</h3></div>
    {% for event in past_events %}
        {% include "../events/_event_list_item.html" %}
    {% endfor %}

{% if past_events %}
    {% ifnotequal past_events|length 0 %}
        <div class="pagination_entry">
            <a onclick="build_dialog(6,{{category.key.id}})">&raquo; View all</a>
        </div>
    {% endifnotequal %}
{% endif %}

</div>

