<div id="categoryupcomingevents" class="hardmodule">
    <div class="moduletitle"><h3>Upcoming Events</h3></div>
    {% for event in past_events %}
        {% include "../events/_event_list_item.html" %}
    {% endfor %}
</div>

<div>
    <a href="/events/upcoming/category/{{category.key.id}}/1">&raquo; View all upcoming events</a>
</div>

<div id="categorypastevents" class="hardmodule">
    <div class="moduletitle"><h3>Past Events</h3></div>
    {% for event in upcoming_events %}
        {% include "../events/_event_list_item.html" %}
    {% endfor %}
</div>

<div>
    <a href="/events/past/category/{{category.key.id}}/1">&raquo; View all past events</a>
</div>