
<div id="categoryvolunteers" class="hardmodule">
    <h3 class="moduletitle">Flash Volunteers interested in {{ category.name }}</h3>
    <ul class="imagenamelinklist">{% for volunteer_in_list in volunteers_interested %}
        {% include "../volunteers/person_lists/_volunteer_list_item.html" %}
    {% endfor %}</ul>
</div>

{% if volunteers_interested %}
{% ifnotequal volunteers_interested|length 0 %}
<div class="pagination_entry">
    <a onclick="build_dialog(22,{{category.key.id}})">&raquo; View all</a>
</div>
{% endifnotequal %}
{% endif %}
  
