{% extends "../_layout.html" %}
{% block title %}
Send a message
{% endblock title %}

{% block eventactive %}
class="current"
{% endblock %}

{% block content %}

<div id="left75">
	<div id="eventmessagescreate" class="softmodule">
	    <div class="moduletitle"><h3>{% block sendmessage %}Send a message{% endblock sendmessage %}</h3></div>
        <div id="emto">
        	<span class="label">{% block recipientlabel %}To: {% endblock recipientlabel %}</span>{{recipients}}
		</div>
	    
	    <form action="{{url}}/send_message" method="post">
	        
	        <div id="emcreatesubject">
	        	<span class="label">Subject:</span> <input type="text" name="subject"/>
		    </div>
	        
	        <div id="emcreatebody">
	        	<span class="label">Body:</span> <textarea name="body"></textarea>
		    </div>
	        
			<div class="clear"></div>
	        <div id="emcreatesubmit">
	        	<input type="submit" value="Send">
	            <input type=hidden name="session_id" value="{{ session_id }}">
			</div>
	        
	    </form>
		
	</div>
</div><!--end middlewhole-->
<div id="right25">
	<div id="creationtips" class="hardmodule">
	    <div class="moduletitle"><h3>Tips</h3></div>
	    <ul>
	    {% block creationtips %}
	        <li>Your message will be sent to the recipients according to each of their notification settings.</li>
			<li>Do not send messages that reasonable people would consider to be spam.</li>
	    {% endblock creationtips %}
	    </ul>
	</div>	
</div><!--end right25-->
{% endblock %}