{% extends to_extend %}


<script>
	  {% ifequal forum.recipient_type "event" %} 
	       set_active('events');
	  {% else %} 
	       set_active('neighborhoods');
      {% endifequal %}
      set_active('events');

      $(document).ready(function() {
            load_title('Add A Coordinator to {{event.name|striptags}}');
            load_header('Forum for {% ifequal forum.recipient_type "event" %} Event: {% else %} Neighborhood: {% endifequal %}<a class="fv" href="{{ forum.path }}" >{{forum.name}}</a>');
      });
</script>






{% block content %}

<script>
	  {% ifequal forum.recipient_type "event" %}
        set_active('events');
      {% endif %}
	  {% ifequal forum.recipient_type "neighborhood" %}
	    set_active('neighborhood');
	  {% endif %}
      $(document).ready(function() {
            load_title('Forum Messages');
      });
</script>

<div id="middle100">
	<div id="inbox">

		<div id="forum" class="nonembed softmodule">
			<ul >
				<li>
					<a class="fv" class="operation" title="Post new message" href="{{forum.path}}/send_message?redirect={{forum.path}}/messages">
						&raquo;Post new message
					</a>
				</li>
			</ul>
		    <div class="messages">
		        <table>
	                {% for mr in forum.messages %}
	                    <tr class="message read">
	            	        <td>
	                            <div class="volunteer_summary_pic">
	                                <a class="fv" href="{{ mr.message.get_sender.url }}" >
	                                    <img class="smallavatar" src="
	                                    {% if mr.message.get_sender %}
	                                        {% if mr.message.get_sender.avatar %}
	                                            {{ mr.message.get_sender.url }}/avatar
	                                        {% else %}
	                                            /stylesheets/media/default-profile-pic-small.png
	                                        {% endif %}
	                                    {% else %}
	                                       /stylesheets/media/fv_avatar.png
	                                    {% endif %}
	                                    " alt="{{ mr.message.get_sender.name|striptags }}" />
	                                </a>
	                            </div>
							</td>
	                        <td class="minfo">
	                        	{% if mr.message.autogen %}<div class="additionalinfo">Auto-sent on behalf of</div>{% else %}{%endif%}
	                        	<div>{% if mr.message.get_sender %}
								         <a class="fv" href="{{ mr.message.get_sender.url }}">{{ mr.message.get_sender.name|striptags }}</a>
									 {% else %}
									    Flash Volunteer
									 {%endif%}
							      </div>
								<div class="subtext">{{ mr.message.time_sent }}</div>
							</td>
	                        <td class="msubject">
	                        	<div class="subjectline">{{ mr.message.subject }}</div>
							    <div class="subtext">{{ mr.message.body}}...</div>
							</td>
	                    </tr>
	                {% endfor %}

	            </table>
		    </div>
		</div>

	</div>
</div>
{% endblock content %}
