{% extends to_extend %}

{% block content %}


<script>
      set_active('mailbox');

      $(document).ready(function() {
            load_title('Mailbox');
            load_header('Flash Mailbox');
      });
</script>

 
<div id="middle100">
	
	
	<div id="mailbox-tab-sections">
	   <ul id="nav" class="tab-links">
	        <li>
	            <a class="fv" href="/messages/inbox">Inbox</a>              
	        </li>
	        <li>
	            <a class="fv" href="/messages/sent">Sent</a>              
	        </li>
	    </ul>
		
	</div>
</div><!--end middle100-->

<script>
	$("#mailbox-tab-sections").tabs();
</script>
{% endblock content %}