
{% extends "../_layout.html" %}
{% block title %}
Flash Volunteer
{% endblock title %}

{% block mailboxactive %}class="current"{% endblock mailboxactive %}

{% block pagespectitle %}
<h1>Flash Mailbox</h1>
{% endblock %}

{% block content %}

<div id="middle100">
	<div id="mailbox" class="softmodule">
	    <div class="messages">
	        <table>
                {% for message in messages %}
                    <tr class="message {% if message.read %}read{%else%}unread{%endif%}">
            	        <td>
                            <div class="volunteer_summary_pic">
                                <a href="{{ message.get_sender.url }}" >
                                    <img class="smallavatar" src="
                                    {% if message.get_sender %}
                                        {% if message.get_sender.avatar %}
                                            {{ message.get_sender.url }}/avatar
                                        {% else %}
                                            /stylesheets/media/default-profile-pic-small.png
                                        {% endif %}
                                    {% else %}
                                       /stylesheets/media/fv_avatar.png
                                    {% endif %}
                                    " alt="{{ message.get_sender.get_name }}" />
                                </a>
                            </div>
						</td>
                        <td class="minfo">
                        	{% if message.autogen %}<div class="additionalinfo">Auto-sent on behalf of</div>{%endif%}
                        	<div>{% if message.get_sender %}
							         <a href="{{ message.get_sender.url }}">{{ message.get_sender.name }}</a>
								 {% else %}
								    Flash Volunteer
								 {%endif%}
						      </div>
							<div class="subtext">{{ message.time_sent }}</div>
						</td>
                        <td class="msubject">
                        	<div><a href="{{message.url}}">{{ message.subject }}</a></div>
						    <div class="subtext">{{ message.body|slice:":200"}}...</div>
						</td>
                    </tr>
                {% endfor %}
	                
            </table>
	    </div>
	</div><!--end eventmessages-->
	
	<div class="pagination">
	    {% if next %} 
	        <a href="{{domain}}/messages?bookmark={{next}}">  &raquo; next page</a>
	    {% endif %}
	</div>

	
	
</div><!--end middle100-->


{% endblock content %}