{% extends "../_layout.html" %}
{% block title %}
Flash Volunteer
{% endblock title %}

{% block mailboxactive %}class="current"{% endblock mailboxactive %}

{% block pagespectitle %}
    <h1>{{ message.subject }}</h1>
{% endblock %}

{% block content %}

<div id="left75">
    <div id="mailbox" class="softmodule">
        <div class="messages">
            <table>
                
                    <tr class="message">
                        <td>
                        	<div class="volunteer_summary_pic">
	                            <a href="{{ message.get_sender.url }}" >
		                            <img class="smallavatar" src="
									{% if message.get_sender %}
			                            {% if message.get_sender.avatar %}
			                                {{ message.get_sender.url }}/avatar
			                            {% else %}
			                                /stylesheets/media/default-profile-pic-small.png
			                            {% endif %}
                                    {% else %}
									   /stylesheets/media/fv_avatar.png
									{% endif %}
	                                " alt="{{ message.get_sender.get_name }}" />
								</a>
                            </div>
						</td>
                        <td>{% if message.autogen %}
						         <div class="additionalinfo">Auto-sent on behalf of</div>
						    {%endif%}
	                        <div>{% if m.get_sender %}
	                                     <a href="{{ m.get_sender.url }}">{{ m.get_sender.name }}</a>
	                             {% else %}
	                                     The Flash Volunteer team
	                             {%endif%}
						    </div>
                        <div class="subtext">{{ message.time_sent }}</div>
						</td>
                        <td>{% if message.autogen %}{% else %}<a href="{{message.get_sender.url}}/send_message" title="Reply to this message">&raquo; Reply</a>{%endif%}</td>
					</tr>
			</table>
			<table>
					<tr>
                        <td class="msubject">
                            <div>{{ message.get_mailbox_friendly_body}}</div>
                        </td>
                    </tr>
                    
            </table>
        </div>
    </div><!--end eventmessages-->
</div><!--end left75-->
<div id="right25">
    <div id="creationtips" class="hardmodule">
        <div class="moduletitle"><h3>Message notes</h3></div>
        <ul>
            <li>If you don't want to receive these kinds of messages, you can <a href='/settings'>change your message settings</a>.</li>
            <li><a href="mailto:info@flashvolunteer.org">Send us mail</a> to report inappropriate messages.</li>
        </ul>
    </div>  
</div><!--end right25-->

{% endblock content %}