{% extends to_extend %}


{% block title_block %}
    <h1>{{ message.subject }}</h1>
{% endblock %}

{% block content %}

<script>
      set_active('mailbox');
      $(document).ready(function() {
            load_title('Message');
			load_header('{{ message.subject }}');
      });
</script>


<div id="left75">
    <div id="mailbox" class="softmodule">
        <div class="messages">
            <ul class="message">
                <li class="fl">
                	<div class="volunteer_summary_pic">
                      {%if sender_viewing %}
	                        <a class="fv" href="{{ message.get_recipient.url }}" >
	                            <img class="smallavatar" src="
								{% if message.get_recipient %}
		                            {% if message.get_recipient.avatar %}
		                                {{ message.get_recipient.url }}/avatar
		                            {% else %}
		                                /stylesheets/media/default-profile-pic-small.png
		                            {% endif %}
	                            {% else %}
								   /stylesheets/media/fv_avatar.png
								{% endif %}
	                            " alt="{{ message.get_recipient.name|striptags }}" />
							</a>
						{% else %}
	                        <a class="fv" href="{{ message.get_sender.url }}" >
	                            <img class="smallavatar" src="
	                            {% if message.get_sender %}
	                                {% if message.get_sender.avatar %}
	                                    {{ message.get_sender.url }}/avatar
	                                {% else %}
	                                    /stylesheets/media/default-profile-pic-small.png
	                                {% endif %}
	                            {% else %}
	                               /stylesheets/media/fv_avatar.png
	                            {% endif %}
	                            " alt="{{ message.get_sender.name|striptags }}" />
	                        </a>
						
						{% endif %}
                    </div>
				</li>
                <li class="fl">
                    <div>
                    	{% if sender_viewing %}
	                    	To: <a class="fv" href="{{ message.get_recipient.url }}">{{ message.get_recipient.name|striptags }}</a>
						{% else %}
                            {% if message.autogen %}
                                 <span class="additionalinfo">Auto-sent on behalf of</span>
						    {% else %}
							     From:
                            {%endif%}
                            {% if message.get_sender %}
                                     <a class="fv" href="{{ message.get_sender.url }}">{{ message.get_sender.name|striptags }}</a>
                             {% else %}
                                     Flash Volunteer
                             {%endif%}						
						{% endif %}
				    </div>
                    <div class="subtext">{{ message.time_sent }}</div>
					{% if message.autogen %}
					{% else %}
					   <div class="operations">
					   	   {% if sender_viewing %}{% else %}<a class="fv" href="{{message.get_sender.url}}/send_message" title="Reply to this message">&raquo; Reply</a>{% endif %}
					   </div>
					{%endif%}
				</li>
			</ul>
			<div class="cl"><!--empty--></div>
			<table>
					<tr>
                        <td class="msubject">
                            <div>{{ message.get_mailbox_friendly_body}}</div>
                        </td>
                    </tr>
                    
            </table>
        </div>
    </div><!--end eventmessages-->
</div><!--end left75-->
<div id="right25">
    <div id="creationtips" class="hardmodule">
        <div class="moduletitle"><h3>Message notes</h3></div>
        <ul>
            <li>If you don't want to receive these kinds of messages, you can <a class="fv" href='/settings'>change your message settings</a>.</li>
            <li><a href="mailto:info@flashvolunteer.org">Send us mail</a> to report inappropriate messages.</li>
        </ul>
    </div>  
</div><!--end right25-->

{% endblock content %}