
<div id="eventattendees" class="hardmodule">
	<div class="moduletitle"><h3>Volunteers</h3></div>
	{% if volunteer %}
		<ul>
			<li class="tallerlistitem" >
	    
			  {% if eventvolunteer and not eventvolunteer.isowner %}
			      {% if event.inpast %}
			        You attended! <a  class="fv" href="{{event.url}}/verify">Get a receipt.</a>
			      {% else %}
			        {% ifequal event.volunteer_count 1 %}
			          You are signed up for this event!
			        {% else %}
			          {{ event.volunteer_count }} volunteers are signed up (including you!)
	                {% endifequal %}
			      {% endif %}
	          {% else %}
	              {{ event.volunteer_count }} volunteers are signed up
	          {% endif %}
	          
	          <!--<a>&raquo Invite a friend to this event</a>-->		
	        </li>
			
			<li>  
			    <ul class="imagenamelinklist">
					{% for volunteer_in_list in attendees %}
						{% include "../volunteers/person_lists/_volunteer_list_item.html" %}
		            {% endfor %}
	                {% ifnotequal 0 num_anon %}
	                    {% include "../volunteers/person_lists/_volunteer_list_item_anonymous.html" %}
	                {% endifnotequal %}                            
	                    
			    </ul>
			</li>
    {% else %}
	   You need to <a  class="fv" href="/login">login</a> to see event attendees. 
	{% endif %}
	</ul>
	
</div>

{% if attendees %}
{% ifnotequal attendees|length 0 %}
<div class="pagination_entry">
  <a onclick="build_dialog(20,{{event.key.id}})">&raquo; View all</a>
</div>
{% endifnotequal %}
{% endif %}
