
<div id="eventdescription" class="hardmodule">
	<div class="moduletitle"><h3>Description</h3></div>
	<ul>
		<li>{{ event.description }}</li>

        {% ifnotequal event_categories '' %}
            <li>            
                <ul>
                    {% for ic in event.interestcategories %}
                        <li class="eic_li"><a  class="fv" id="category[{{ic.key.id}}]" href="{{ ic.url }}">{{ ic.name|striptags }}</a>{% if forloop.last %}{%else%},{%endif%}</li>
                    {% endfor %}
                </ul>
            </li>{% endifnotequal %}

	</ul>

			
</div><!--end eventdescription-->