
<div id="eventdetails" class="hardmodule">
	<ul>
		<li><span class="label">Date:</span> {{ event.get_startdate_long }}</li>
		<li><span class="label">Start Time:</span> {{ event.get_start_time }}</li>
		<li><span class="label">End Time:</span> {{ event.get_end_time}} {% ifnotequal event.get_enddate event.get_startdate %}({{event.get_enddate}}){% endifnotequal %}</li>
		<li><span class="label">Neighborhood:</span> {{ event.neighborhood.name }}</li>
		<li><span class="label">Coordinator(s):</span> 
			{% for owner in owners %}
				<a href="{{owner.volunteer.url}}">{{owner.volunteer.get_name}}</a>{% if forloop.last %}{%else%}, {%endif%}
			{% endfor %}</li>
		<li><span class="label">Address:</span> {{ event.address }}</li>
		<li><span class="label">Categories:</span> 
		    {% ifequal event_categories '' %}
		        None selected
		    {% else %}
		        <ul style="padding-left:20px">
	                {% for ic in event.interestcategories %}
	                    <a id="category[{{ic.key.id}}]" href="{{ ic.url }}">{{ ic.name }}</a><br/>
	                {% endfor %}
	            </ul>
            {% endifequal %}</li>
    	</ul>

				
        <div class="event_operation_block">
        	<ul>
			{% if eventvolunteer %}
				{% if eventvolunteer.isowner %}
						<li><form action="/events/{{event.key.id}}/edit">
							<input type="submit" title="Edit this event" class="operation" value="&raquo; Edit this event" id="s_edit_event"/>
						</form></li>
		  			{% if not event.inpast %}
		                    <li><a class="operation" href="http://www.google.com/calendar/event?action=TEMPLATE&text=Volunteering at '{{event.name}}'</a>&dates={{event.get_google_calendar_date}}&location={{event.address}}&details=Visit http://{{domain}}{{event.url}} to manage your participation.<br><br>{{event.description}}&trp=true&sprop= website:http://{{domain}}&sprop=name:Flash Volunteer">
		                        &raquo; Add to Google Calendar
		                    </a></li> 
							<li><form action="/events/{{event.key.id}}/add_coordinator">
								<input type="submit" title="Add another event coordinator" class="operation" value="&raquo; Add another event coordinator" id="s_add_coordinator"/>
							</form></li>
							
							<li><form action="/events/{{event.key.id}}" method="post">
								<input type="submit" title="Cancel this event" class="operation" value="&raquo; Cancel this event" id="s_cancel_event"/>
								<input type=hidden name="session_id" value="{{ volunteer.session_id }}" />
								<input type=hidden name="is_delete" value="true" />
							</form></li>
					{% endif %}
				{% else %}
		    		<li><a href="mailto:{{ contact.user.email }}" class="operation">&raquo; Contact Event Host</a></li>
					{% if not event.inpast %}
	                    <li><a class="operation" href="http://www.google.com/calendar/event?action=TEMPLATE&text=Volunteering at '{{event.name}}'</a>&dates={{event.get_google_calendar_date}}&location={{event.address}}&details=Visit http://{{domain}}{{event.url}} to manage your participation.<br><br>{{event.description}}&trp=true&sprop= website:http://{{domain}}&sprop=name:Flash Volunteer">
                            &raquo; Add to Google Calendar
                        </a></li> 
						<li><form action="{{event.url}}/volunteer" method="post" >
							<input type=hidden name="delete" value="true" />
							<input type=hidden name="session_id" value="{{ volunteer.session_id }}" />
							<input type=submit title="Unvolunteer for this event" class="operation" value="&raquo; Unvolunteer" id="s_unvolunteer" />
						</form></li>
					{% endif %}
					
					{% if not event.verified %}
						<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name}} is inappropriate!&body={{event.name}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
					{% endif %}
				
				
				{% endif %}

			{% else %}{% if volunteer %}
		    
					<li><a href="mailto:{{ contact.user.email }}" class="operation">&raquo; Contact Event Host</a></li>

					{% if not event.verified %}
						<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name}} is inappropriate!&body={{event.name}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
					{% endif %}
                
				<li><form action="{{event.url}}/volunteer" method="post">
					<input type=hidden name="session_id" value="{{ volunteer.session_id }}" />
					<input type=submit title="Volunteer for this event" class="volunteer_button" value="{% if event.inpast %}I attended this event.{%else %}Sign me up!{%endif%}" id="s_volunteer"/>
				</form></li>
				
				{% else %}
				    <li>You must <a href='/login?redirect={{path}}'>login</a> to signup for this event</li>
			{% endif %}{% endif %}
			</ul>
    </div>
</div><!--end eventdetails-->