
<div id="eventdetails" class="hardmodule">
    <ul>
        <li>{{ event.get_startdate_long }}</li>
        <li>{{ event.get_start_time }} - {{ event.get_end_time}} {% ifnotequal event.get_enddate event.get_startdate %}({{event.get_enddate}}){% endifnotequal %}</li>
    </ul>
	<ul>
		<li>{{ event.address }} ( <a href={{event.neighborhood.url}}>{{ event.neighborhood.name }}</a> )</li>
	</ul>

    <div class="event_operation_block">
    	<ul>
		{% if eventvolunteer %}
			{% if not eventvolunteer.isowner %}
				
				{% if not event.inpast %}
					<li><form action="{{event.url}}/volunteer" method="post" >
						<input type=hidden name="delete" value="true" />
						<input type=hidden name="session_id" value="{{ volunteer.session_id }}" />
						<input type=submit title="Unvolunteer for this event" class="operation" value="&raquo; Unvolunteer" id="s_unvolunteer" />
					</form></li>
				{% endif %}
				
				{% if not event.verified %}
					<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name}} is inappropriate!&body={{event.name}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
				{% endif %}
			
			
			{% endif %}

		{% else %}{% if volunteer %}
				{% if not event.verified %}
					<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name}} is inappropriate!&body={{event.name}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
				{% endif %}
            
			<li><form action="{{event.url}}/volunteer" method="post">
				<input type=hidden name="session_id" value="{{ volunteer.session_id }}" />
				<input type=submit title="Volunteer for this event" class="volunteer_button" value="{% if event.inpast %}I attended this event.{%else %}Sign me up!{%endif%}" id="s_volunteer"/>
			</form></li>
			
			{% else %}
			    <li>You must <a href='/login?redirect={{path}}'>login</a> to signup for this event</li>
		{% endif %}{% endif %}
		</ul>
    </div>
</div><!--end eventdetails-->