

<style>
	.yellow,
	.green {
    	font-size:135%;
		font-weight:bold;
	}
	.green{
		color:#127818;
    }
    .yellow{
        color:#9f9c0b;
    }   
	#mindchange{
		font-size:90%;
	}
</style>

<div id="eventdetails" class="hardmodule">
	
    <div>
    	<ul>
	        <li>{{ event.get_startdate_long }}</li>
	        <li>{{ event.get_start_time }} - {{ event.get_end_time}} {% ifnotequal event.get_enddate event.get_startdate %}({{event.get_enddate}}){% endifnotequal %}</li>
			<li>{{ event.address }} ( <a  class="fv" href={{event.neighborhood.url}}>{{ event.neighborhood.name }}</a> )</li>
            {% if event.event_url %}
			     <li><a href="{{ event.event_url }}" target="_blank">Visit the event website</a></li>
            {% endif %}

		</ul>
	</div>
    <div class="event_operation_block">
    	<ul>
		{% if eventvolunteer %}
			{% if not eventvolunteer.isowner %}
				
				{% if not event.inpast %}
				    <li>
					    You are {%ifequal eventvolunteer.interest_level 2%}<span class="green">attending</span>{%else%}{%ifequal eventvolunteer.interest_level 1%}<span class="yellow">interested</span>{%endifequal%}{%endifequal%} <span id="mindchange">(change your mind? 
						<a onclick=build_dialog(200,{{event.key.id}}) title="Change your participation level" class="operation" id="s_unvolunteer">Click here.</a>)</span>
					</li>
				{% endif %}
				
				<!--{% if not event.verified %}
					<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name|striptags}} is inappropriate!&body={{event.name|striptags}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
				{% endif %}-->
			
			
			{% endif %}

		{% else %}{% if volunteer %}
				{% if not event.verified %}
					<li><a class="operation" href="mailto:info@flashvolunteer.org?subject={{event.name|striptags}} is inappropriate!&body={{event.name|striptags}}({{event.url}}) is inappropriate because...">&raquo; Flag event as inappropriate</a></li>
				{% endif %}
            
            <li><button onclick=build_dialog(200,{{event.key.id}}) title="Volunteer for this event" class="volunteer_button" id="s_volunteer">{% if event.inpast %}I attended this event.{%else %}I'm thinking about volunteering...{%endif%}</button></li>

			{% else %}
			    <li>You must <a  class="fv" href='/login?redirect={{event.url}}'>login</a> to signup for this event</li>
		{% endif %}{% endif %}
		</ul>
    </div>
</div><!--end eventdetails-->