<div id="eventattendees" class="hardmodule">
    <div class="moduletitle"><h3>Event organizers</h3></div>
    <ul>   
	    {% if volunteer %}
            {% if eventvolunteer and eventvolunteer.isowner %}
                {% if not event.inpast %}

	                <li><a href="/events/{{event.key.id}}/edit" class="fv operation" title="Edit this event" id="s_edit_event">&raquo; Edit this event</a></li>
                    <li><a href="/events/{{event.key.id}}/add_coordinator" class="fv operation" title="Edit this event" id="s_add_coordinator">&raquo; Add another event coordinator</a></li>
		                        
                    <li><form action="/events/{{event.key.id}}" method="post">
                        <input type="submit" title="Cancel this event" class="operation" value="&raquo; Cancel this event" id="s_cancel_event"/>
                        <input type=hidden name="session_id" value="{{ session_id }}" />
                        <input type=hidden name="is_delete" value="true" />
                    </form></li>
                {% endif %}				
			{% else %}
			     <li><a target="_blank" href="mailto:{{ event.contact_email }}" class="operation">&raquo; Contact organizers</a></li>     
            {% endif %}
        {% endif %}
        <li>  
            <ul class="imagenamelinklist">
                {% for volunteer_in_list in owners %}
                    {% include "../volunteers/person_lists/_volunteer_list_item.html" %}
                {% endfor %}                          
                    
            </ul>
        </li>
    </ul>
</div>