<script>
  $(document).ready(function(){
    $(".validate_form").validate({
        errorPlacement: function(error, element) {},
        invalidHandler: function(form, validator) {},
        submitHandler: function(form) {
			$(form).ajaxSubmit();
			$('#columns').load("{{event.url}}");
		}
    })
  });
</script>


<!--<script>
    function report_hours(){
        $.post("{{event.url}}/verify", {session_id: "{{ session_id }}", 
		                                hours_{{eventvolunteer.key.id}}: $('#i_verify_{{eventvolunteer.key.id}}_text').val(),
										event_volunteer_{{eventvolunteer.key.id}}: $('#f_verify input[name=event_volunteer_{{eventvolunteer.key.id}}]:checked').val()
										}, 
        function(data){
            $('#columns').load("{{event.url}}");
        });
    }
</script>-->


<div id="report_hours">
	<h3>{% ifequal eventvolunteer.hours None %}Please report your volunteer hours, rounded to the nearest hour, to get credit! {%else%}According to our records, you volunteered {{eventvolunteer.hours}} hours. Please revise if incorrect.{%endifequal%}</h3>

	<form id='f_verify' method="post" class="validate_form" action="{{event.url}}/verify">
        <ul>
        	
			<li><input type='radio' name='event_volunteer_{{eventvolunteer.key.id}}' value='True' id='i_verify_{{eventvolunteer.key.id}}_true' 
                onclick='var text_id = this.id.replace(/true/, "text"); document.getElementById(text_id).disabled = false;'
                {% if eventvolunteer.attended %} 
                 checked 
                {% endif %}
            />
            <label for='event_volunteer_{{eventvolunteer.key.id}}'>Attended for </label>
            
            <input class="digits" type="text" name="hours_{{eventvolunteer.key.id}}" size="3" maxlength="3" id='i_verify_{{eventvolunteer.key.id}}_text'
                {% if not eventvolunteer.attended %} 
                    disabled="true"
                {% endif %}
                {% ifequal eventvolunteer.hours None %}
                    value=""
                {% else %}  
                    value="{{eventvolunteer.hours}}"
                {% endifequal %}
            /> hours </li>
            
            <li><input type='radio' name='event_volunteer_{{eventvolunteer.key.id}}' value='False' id='i_verify_{{eventvolunteer.key.id}}_false'
                onclick='var text_id = this.id.replace(/false/, "text"); document.getElementById(text_id).disabled = true;'
                {% if not eventvolunteer.attended %} 
                 checked 
                {% endif %}
            />
            <label for='event_volunteer{{eventvolunteer.key.id}}'>Did not Attend</label>
            </li>
			

            <li>
                <input type=hidden name="session_id" value="{{ session_id }}">
			    <input type="submit" class="submit" id="s_verify" value="Report" />
			</li>
		</ul>
	</form> 
</div>