{% extends "../../dialog_layout.html" %}

{% block dialog_title %}
    Interested in "{{event.name}}"?
{% endblock dialog_title %}

{% block dialog_content %}
    <style>
    	#vol_interest_text {
    		font-size: 115%;
			padding: 15px;
    	}
		#dialog_content {
			height:auto;
			overflow-y:auto;
		}
		#dialog_content button, input {
			background-color:buttonface;
			border: solid 1px;
		}
		
		.dialog_footer,
		.dialog_header {
			display:none;
		}
		
		#vol_interest_choices {
			padding: 15px;
		}
		
		#vol_interest_choices label {
			padding: 5px;
			font-size: 125%;
			font-weight:bold;
		}
		
		.red {
			color:#aa1814;
		}
		.green {
			color:#127818;;
		}
		.yellow {
			color:#9f9c0b;;
		}
		#boldy {
			font-weight:bold;
		}
    </style>
    <div class="dialog_container"</div>
       
	   <div id="vol_interest_text">
		   {% if event.source %}
		       <p>This event has been reposted from another site.</p>
			   <p><span id="boldy">Please <a href="{{event.event_url}}" target="_blank">go here</a> and let the coordinator know you're interested.</span></p>
			   <p>We will still send you an automatic reminder the day before the event.
		   {% else %}
	    	   <p>We will send an automatic reminder the day before the event. The event coordinators will also be notified that you've expressed interest. </p>
		   {% endif %}
	   
	       <p>Thanks for helping out!</p>
		   
       </div>

       <div id="vol_interest_choices">
            <input type="radio" name="vol_choice" value="2" {%ifequal eventvolunteer.interest_level 2%}checked="1"{%endifequal%}><label class="green">Go ahead and sign me up!</label></input><br>
            <input type="radio" name="vol_choice" value="1" {%ifequal eventvolunteer.interest_level 1%}checked="1"{%endifequal%}><label class="yellow">I'm just interested &minus; remind me later.</label></input><br>
            <input type="radio" name="vol_choice" value="0" ><label class="red">Errrr, actually I'm not interested...</label></input>
	   </div>
	    
       <input type="button" onclick=finish(false) class="submit closedialog fr" name="close" value="Finish"/></li>
    </div>
    <script>
       function get_params(){
           return '';
       }
	   
	   function finish(){
    	   interested = $("input[name='vol_choice']:checked").val(); 
            $.post("{{event.url}}/volunteer", {session_id: "{{ session_id }}", "interested": interested}, 
            function(data){
                $('#columns').load("{{event.url}}");
            });
	       close_dialog();	   	
	   }
    </script>	
	
{% endblock dialog_content %}