/*
======================================================
>>COLORS & BACKGROUNDS & STYLED BORDERS
======================================================
Teal Text: #4eA0A7
Body text: #555
Dark text: #333
Green text: #aef396
White text: #FFF
Gray text: #C6C6C6
Red text: #F00
light blue: #B3D8DB
}

White background: #FFF
black background: #000
Gray background: #E6E6E6
Dark background: #3b3b3b
Green background: #2fb002
Blue strip: #008c98
*/

html, body {
    background-color: #fff;
    color: #555;
}

div#top {
    background-color: #3b3b3b;
    border-top: 4px solid #008c98; 
}

div.gradient {
   background: #000 repeat-x top center;
}

div#footer {
    border-top: 3px solid #E6E6E6;
}

div#footer #copyright{
}

#navtabs {
    background: #fff url("../media/body-top-rpt-horiz.png") repeat-x top center;
}

#navtabs li.current,
#navtabs li:hover,
#navtabs li a.current,
#navtabs li a:hover {
    background-color: #000;
}

#navtabs li#loadingContainer:hover {
	background-color: inherit;
}


#navtabs li a{
    color: #FFF;
}

#pagespectitle h1 {
    border-bottom: #b6e6a5 3px solid;
}

a.operation, a:link, a:visited, a:active, a:hover, a, 
input.operation, input.operation_minimal {
    color: #4eA0A7;
}

#volunteerwelcome a {
    color: #aeF396;
}

div#volunteerwelcome {
    color: #FFF;
}
            



.label {
    color: #333;
}

.error{
    color: #FF0000;
}

.moduletitle {
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
}
div.hardmodule .moduletitle{
    border-color: #3b3b3b;
    background-color: #666;
}
div.moduletitle {
    color: #fff;
    background-color: #008C98;
}

div.moduletitle a{
    color: #DDD;
}

button.volunteer_button {
    color: #FFFFFF;
    background-color: #4eA0A7;
    border: 1px solid #444;
}

a.verification_warning, 
a.verification_warning:hover {
    color: #ff6900;
}

div#slogan {
    color: #4eA0A7;
}

#pagespectitle h1 {
    color: #3b3b3b;
}

th {
    color: #525252;
}

div.shortevent {
    border-bottom: 1px solid #CCC;
}

.volunteer_summary_follower, 
.volunteer_summary_follower .volunteer_summary_operations input.operation {
    background: #E8E8E8;
}

.format_help {
	color: #C6C6C6;
}

div#badges {
	border-top: 3px solid #eee;
}

#footer #static_nav a:hover {
    background-color: #E6F4F4;
}

tr.message {
    border-bottom: 3px solid #E6E6E6;
}

#forum tr.message {
    border-top: 3px solid #E6E6E6;
}

tr.message.unread {
	background-color: #F5F5F5;
}

table.zebra tr.odd {
    background-color: #EDEEFD;
}

table.zebra tr.even {
    background-color: #FFFFFF;
}

#mailbox-tab-sections.ui-widget-content {
	border:none;
}
#nav.ui-widget-header {
	background: #ffffff;
	border: none;
	border-bottom: 3px solid #E6E6E6;
}
#nav .ui-state-active {
	border-color: #E6E6E6;
    border-width: 3px;
}

#nav.ui-tabs-nav li {
	margin-bottom: -3px;
}


.event_note {
	background-color: #E6F4F4;
	font-size: 120%;
	color: #333;
}
