ul#creationtips {
    padding-left: 15px;
}

li#creationtips li {
    list-style: disc;
    padding-top: 10px;
}

div.eventcreatelabel {
    position: relative;
    width: 100px;
    height: 30px;
}

div.eventinput {
    position: relative;
    width: 465px;
    left: 110px;
    top: -30px; 
}

div.eventinput input {
    width: 98%;
}

div.eventinput input.checkbox {
    display: inline;
    width: 15px;
}

div.eventinput input#startdate,
div.eventinput input#starttime,
div.eventinput input#enddate,
div.eventinput input#endtime{
    width: 90px;
}

div.eventinput input#eventname {
    width: 465px;
}

div.eventinput input#maxattend, 
div.eventinput input#minattend {
    width: 80px;
}

div.eventinput input#address1, 
div.eventinput input#address2 {
}

div.eventinput input#city {
    width: 239px;
}

div.eventinput input#state {
    width: 30px;
}

div.eventinput input#zip {
    width: 60px;
}

div#createevent li {
    margin-bottom: -30px;
    padding-top: 15px;
    vertical-align: middle;
}

div#createevent ul {
    border-bottom: 1px #e8e8e8 solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}

div#createevent form {
    text-align: right;
}

div#createevent form #submit {
    margin-right: 10px;
}

div.eventinput ul#interestselections {
    border: none;
    padding: 0;
    margin: 0;
}

div.eventinput ul#interestselections li {
    width: 232px;
    float: left;
    height: 38px;
    padding: 0 0 20px 0 ;
}

div#official_coordinator {
    margin-bottom: 8px; 
}   


/*****/
#createevent .ui-timepickr {
    position:relative;
	left: 0%;
    width:480px; 
    z-index: 10;
    background-color: #FFFFFF;
}

#createevent .ui-timepickr li {
    margin-bottom: 0px;
    padding-top: 0px;
    vertical-align: baseline;
}

#createevent .ui-timepickr-row {
    margin:0;
    padding:0;
    margin-top:2px; 
    display:none;
    position:relative;
}

#createevent .ui-timepickr-button {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
}

#createevent .ui-timepickr-button span {
    font-size:.9em;
    padding:4px 6px 4px 6px;
    margin-left:2px;
    text-align:center;
    cursor:pointer;
    display:block;
    text-align:center;


    /* system theme (default) */
    border-width:1px;
    border-style:solid;
}