#left66, #lefthalf, #leftthird, #middlethird, 
#left75, #leftthirdequi,#middlethirdequi,#left25 {
    margin-right: 5px;
    
}

#lefthalf, #righthalf {
	width: 375px;
}

#left75, #right75 {
	width: 575px;
}
#title_block h1 {
    margin-bottom: 3px;
}

#title_block {
    margin-bottom: 3px;
}

#volavatar .volunteer_summary_pic {
	width: 55px;
}

#volavatar {
	width: 60px;
}

#submiteventsearch {
	padding-bottom: 5px;	
}

.submit {
	padding: 2px;
	margin-bottom: 2px;
}

#footer {
	position: relative;
	left: 0px;
}

#dialogs {
	z-index: 3000;
}

select {
	position:relative;
	z-index: -1;
}

.navtabs {
	bottom: 5px;
	
}

.navtabs li {
	padding-top: 11px;	
	padding-bottom: 11px;
}

#leftthird, #rightthird, #middlethird {
	padding: 0px;
	
}

#findaneventwide {
	height: 140px;
}

div#top {
    background-color: #333333;
	}

#columns {
	width: 100%;
	
}

img.smallavatar {
    height: 80px;
    width: 80px;
}


#volavatar img.smallavatar {
    height: 50px;
    width: 50px;
}