{% extends to_extend %}

{% block content %}

<script>
      set_active('');
      $(document).ready(function() {
            load_title('Account help');
      });
</script>

<script>
  $(document).ready(function(){
    $(".validate_form").validate({
        messages: {
            email: {
              required: " ",
              email: " "
            }
        },
        submitHandler: function(form) {
           form.submit();
        }

    })
  });
</script>


    <div class="spacing_top" />

    <div id="middle100">
    	   <p class="enlarged">Please enter your email and we will try to find a matching account!</p>
          <form class="validate_form" action="/login/help" id="new_account" method="post">
	            <input class="hidden" name="session_id" type="hidden" value="{{session_id}}" />
	            <fieldset>
	              <ol>
	                <li>
	                  <label for="email">Email:</label> 
					  <input class="text required email" id="email" name="email" tabindex="1" type="text" value="" />
	                </li>
	              </ol>
	            </fieldset>
	            <input class="submit" name="commit" tabindex="4" type="submit" value="Submit" />
	          
          </form>
    </div>

{% endblock content %}