{% extends to_extend %}

{% block content %}

<script>
      set_active('');
      $(document).ready(function() {
            load_title('Returning user login');
      });
</script>

<script>
  $(document).ready(function(){
    $(".validate_form").validate({
        messages: {
            email: {
              required: " ",
              email: "Please enter a valid email address.<br>If you do not yet have an FV account, please click 'Signup' below.",
              //remote: jQuery.validator.format("{0} is already taken, please enter a different address.")
            }
        },
        submitHandler: function(form) {
           form.submit();
        }

    })
  });
</script>


    <div style="margin-top: 25px;"></div>

    <div id="middle100">
        <div style="width:50%;padding: 25px;font-size:125%; " class='fl'>
            Returning users, please login below, using the same method as the last time you visited us.
        </div>  
        <div  class='fl' style="width:25%;padding: 25px;background-color:#E6F4F4;font-size:125%;">
            New to Flash Volunteer? Please <a href="/new" class="fv">create an account!</a> 
		</div>       
        <div class='cl'><!--empty--></div>
    </div>

    <div class="cl"></div>
    <div style="height:15px"></div>
	<div id="middle100">
        <ol >
	        <li class="fv-login-block fl" style="height:100%;padding:20px;border:5px solid #C3E5E5;width:39%;height:100%">
		        <h1 style="font-size:150%;letter-spacing:-1px;line-height:100%;">Use your Flash Volunteer account</h1>
		          
				  
				  
				  <form class="validate_form" action="/login" id="new_account" method="post">
		            <div style="margin:0;padding:0">
		              <input name="session_id" type="hidden" value="{{session_id}}" />
		            </div>
		            <fieldset>
		              <ol>
		                <li>
		                  <label for="email">Email</label>{% if errors.user_not_found %}<strong class="error">No user with that email</strong>{% endif %}  
		                  <input class="text required email" id="email" name="email" tabindex="1" type="text" {%if email %}value={{email}}{%endif%} />
       
		                </li>
		                <li>
		                  <label for="password">Password</label>{% if errors.wrong_password %}<strong class="error">Wrong password</strong>{% endif %}              
		                  <input class="password required" id="password" name="password" tabindex="2" type="password" />             
						</li>
		              </ol>
		            </fieldset>
		            <input class="submit" name="commit" tabindex="4" type="submit" value="Enter" />
		          
		          </form>
	        </li>  
			<li class="fl" style="padding: 95px 22px;"><span style="width:100%;font-size:125%">OR</span></li>
	        <li class="fv-login-block fr" style="height:100%;padding:20px;border:5px solid #C3E5E5;width:39%;height:100%">
                <h1 style="font-size:150%;letter-spacing:-1px;line-height:100%;">Sign in through a third party</h1>

	            <div class="emph" style="font-size:80%; font-color:#777777">When you login through a third party provider, you will first be taken to their site. After logging in there, you will be redirected back to Flash Volunteer.</div>
	    
	            {% if not dev_server %}
	                <iframe src="https://flash-volunteer.rpxnow.com/openid/embed?token_url={{token_url}}" scrolling="no" frameBorder="no" style="width:100%;height:240px;">
	                    You do not have JavaScript enabled in your browser. Please enable JavaScript, or download a web browser that supports it.                   
	                </iframe>
	            {% else %}
	                    <a class="fv" class="button" href="{{login_url}}">
	                        <span class="buttonleft"> </span>
	                        <span class="buttoncenter" id="l_login">Enter dev site</span>
	                        <span class="buttonright"> </span>
	                    </a>                        
	            {% endif %}
	        </li>
	   </ol>
	</div>

{% endblock content %}