{% extends to_extend %}

{% block content %}

<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('New Account');
      });
</script>

<script>
  $(document).ready(function(){
	jQuery.validator.addMethod("password", function( value, element ) {
		var result = this.optional(element) || value.length >= 6 && /\d/.test(value) && /[a-z]/i.test(value);
		if (!result) {
			var validator = this;
			setTimeout(function() {
				validator.blockFocusCleanup = true;
				element.focus();
				validator.blockFocusCleanup = false;
			  }, 1);
		}
		return result;
		}, "Your password must be at least 6 characters long and contain at least one number and one character.");
 

    $(".validate_form").validate({
        //errorPlacement: function(error, element) {},
		rules : {
		    passwordcheck: {
			    equalTo: '#password'
			}
		},
		messages: {
		    passwordcheck: {
		      required: " ",
		      equalTo: "Please enter the same password as above"
		      },
		    email: {
		      required: " ",
		      email: "Please enter a valid email address, example: you@yourdomain.com"
		      //remote: jQuery.validator.format("{0} is already taken, please enter a different address.")
		    }
	    }, 
        invalidHandler: function(form, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
            $('.form_error').html('Errors found! Please check the highlighted fields.');
            $(".form_error").show();
          } else {
            $(".form_error").hide();
          }
        },
        submitHandler: function(form) {
		   if ($('#tosagree:checked').val() == null) {
		   	    $('.form_error').html('You need to agree to the terms of service!');
                $(".form_error").show();
		   }else{
                form.submit();
		   }
        }

    })
  });
</script>

    <div class="spacing_top"></div>
        
	{% if fv_account %}	
	    <div id="middle100">
	        <div class="account_direction_block account_direction_primary fl">
	            New to Flash Volunteer? Choose either of the two options below to create an account. Make sure to write down your choice!
	        </div>  
	        <div class="account_direction_block account_direction_divert fl">
	            If you already have an account, please <a href="/login" class="fv">login here.</a>
			</div>
	        <div class='cl'><!--empty--></div>
	    </div>
    {% endif %} 

    <div class="cl spacing_top" />

    <div id="middle100">
        <ol >
            <li class="fv-login-block fl" style="width:36%;">
                <h1>Create a Flash Volunteer account</h1>
                  
                <form class="validate_form" action="/new" method="post">
                  <div class="form_error">
                      Errors found! Please check the highlighted fields. 
                  </div>
                  <input class="hidden" type="hidden" name="session_id" value="{{ session_id }}" />
                      <fieldset>
                          <ul>          
                          
                            <li><label for="name">Your Name:</label><input class="text required" id="createnameinput" type="text" name="name" tabindex="1"
    							{% if account.name %}
                                    value="{{ account.name|striptags }}"
                                {% else %}
                                    value=""
                                {% endif %}
							/></li>                       
                            <li>
                            	 <label for="email">Email (required):</label>
							     <input class="required email text" id="createnameinput" type="text" name="email" tabindex="2"
	                                {% if account.preferred_email %}
		                                value="{{ account.preferred_email|striptags }}"
		                            {% else %}
		                                value=""
		                            {% endif %}
							/></li>
                            
                            {% if fv_account %}
                                <li>
                                  <label for="password">Password</label>
                                  <input class="password required" id="password" name="password" tabindex="3" type="password" />
                        
                                </li>
                                <li>
                                  <label for="password">Confirm Password</label>
                                  <input class="password required" id="passwordcheck" name="passwordcheck" tabindex="4" type="password" />
                                </li>                   
                            {% endif %}
                            </ul>
                            </fieldset>
                            
                            <fieldset>
                            <ul><li><div class="label">I live nearest to:</div> 
                                <select class="required" name="home_neighborhood">
                                    <option value="">Neighborhood...</option>
                                    {% for neighborhood in home_neighborhoods %}
                                    <option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected="selected"{% endif %}>{{neighborhood.name}}</option>
                                    {% endfor %}
                                </select></li>                  
                            <li><div class="label">I work nearest to:</div> 
                                <select class="required" name="work_neighborhood">
                                    <option value="">Neighborhood...</option>
                                    {% for neighborhood in work_neighborhoods %}
                                    <option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected{% endif %}>{{neighborhood.name}}</option>
                                    {% endfor %}
                                </select>                      
                                </li>
                            </ul>
                            </fieldset>
                    <fieldset>
                        <ul>    
                            <li><input id='tosagree' type="checkbox" name="tosagree" class="required" value="1" /> I accept the <a class="fv" target="_blank" href="/static/tos">Terms of Use</a> and <a href="/static/privacy">Privacy Policy</a></li>
                        </ul>
                    </fieldset>
                    <ul><li><input class="submit" type="submit" value="Create my account" id="s_create_account"/></li></ul>
                </form>
        
        
            </li>  
			{% if fv_account %}
	            <li class="fl login_separator">
				    <span>OR</span>
				</li>
	            <li class="fv-login-block fr" style="width:42%">
	                <h1>Sign in through a third party</h1>
	
	                <div class="detailed_instructions emph">When you login through a third party provider, you will first be taken to their site. After logging in there, you will be redirected back to Flash Volunteer.</div>
	        
	                {% if not dev_server %}
	                    <iframe src="https://flash-volunteer.rpxnow.com/openid/embed?token_url={{token_url}}" scrolling="no" frameBorder="no">
	                        You do not have JavaScript enabled in your browser. Please enable JavaScript, or download a web browser that supports it.                   
	                    </iframe>
	                {% else %}
	                        <a class="fv" href="{{login_url}}">
	                            <button class="submit" id="l_login">Enter dev site</button>
	                        </a>          
	                {% endif %}
	            </li>
			{% endif %}
			
			{% if dev_server %}
			<li class="fv-login-block fl" style="width:36%;">
                <h1">Create a Flash Volunteer Organization Account</h1>
                  
                <form class="validate_form_two" action="/neworg" method="post">
                  <div class="hidden emph form_error">
                      Errors found! Please check the red-bordered fields. 
                  </div>
                  <input type="hidden" name="session_id" value="{{ session_id }}" />
                      <fieldset>
                          <ul>          
                          
                            <li><label for="name">Your Organization:</label><input class="text required" id="createnameinput" type="text" name="name" tabindex="6"
    							{% if account.name %}
                                    value="{{ account.name|striptags }}"
                                {% else %}
                                    value=""
                                {% endif %}
							/></li>                       
                            <li>
                            	 <label for="email">Email (required):</label>
							     <input class="required email text" id="createnameinput" type="text" name="email" tabindex="7"
	                                {% if account.preferred_email %}
		                                value="{{ account.preferred_email|striptags }}"
		                            {% else %}
		                                value=""
		                            {% endif %}
							/></li>
                            
                            {% if fv_account %}
                                <li>
                                  <label for="password">Password</label>
                                  <input class="password required" id="password" name="password" tabindex="7" type="password" />
                        
                                </li>
                                <li>
                                  <label for="password">Confirm Password</label>
                                  <input class="password required" id="passwordcheck" name="passwordcheck" tabindex="8" type="password" />
                                </li>                   
                            {% endif %}
                            </ul>
                            </fieldset>
		                    <fieldset>
		                        <ul>    
		                            <li><input id='tosagree' type="checkbox" name="tosagree" class="required" value="1" /> I accept the <a class="fv" target="_blank" href="/static/tos">Terms of Use</a> and <a href="/static/privacy">Privacy Policy</a></li>
		                        </ul>
		                    </fieldset>
                    <ul><li><input class="submit" type="submit" value="Create my account" id="s_create_account"/></li></ul>
                </form>
            </li>
			{% endif %}
			<div class="cl"></div>
       </ol>
	   <div class="cl"></div>
    </div>

{% endblock content %}