{% extends to_extend %}

{% block content %}

<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('New Account');
      });
</script>

<script>
  $(document).ready(function(){
	jQuery.validator.addMethod("password", function( value, element ) {
		var result = this.optional(element) || value.length >= 6 && /\d/.test(value) && /[a-z]/i.test(value);
		if (!result) {
			var validator = this;
			setTimeout(function() {
				validator.blockFocusCleanup = true;
				element.focus();
				validator.blockFocusCleanup = false;
			  }, 1);
		}
		return result;
		}, "Your password must be at least 6 characters long and contain at least one number and one character.");
 

    $(".validate_form").validate({
        //errorPlacement: function(error, element) {},
		rules : {
		    passwordcheck: {
			    equalTo: '#password'
			}
		},
		messages: {
		    passwordcheck: {
		      required: " ",
		      equalTo: "Please enter the same password as above"
		      },
		    email: {
		      required: " ",
		      email: "Please enter a valid email address, example: you@yourdomain.com",
		      //remote: jQuery.validator.format("{0} is already taken, please enter a different address.")
		    }
	    }, 
        invalidHandler: function(form, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
            $('.form_error').html('Errors found! Please check the red-bordered fields.');
            $(".form_error").show();
          } else {
            $(".form_error").hide();
          }
        },
        submitHandler: function(form) {
		   if ($('#tosagree:checked').val() == null) {
		   	    $('.form_error').html('You need to agree to the terms of service!');
                $(".form_error").show();
		   }else{
                form.submit();
		   }
        }

    })
  });
</script>

<div id="lefthalf">
	<div id="createvolunteer" class="softmodule" >
		<div class="moduletitle">
			<h3>Welcome to Flash Volunteer!</h3>
		</div>
		<form class="validate_form" action="/new" method="post">
		  <div class="form_error">
              Errors found! Please check the red-bordered fields. 
          </div>
		  <input type="hidden" name="session_id" value="{{ session_id }}" />
		      <fieldset>
				  <ul>			
				  
                        <li><label for="name">Your Name:</label><input class="text required" id="createnameinput" type="text" name="name" tabindex="1"
                            {% if account.error.name %}
                                value="{{ account.error.name.1 }}"
                            {% else %}
                                {% if account.name %}
                                    value="{{ account.name|striptags }}"
                                {% else %}
                                    value=""
                                {% endif %}
                            {% endif %}
                            />
                            {% if account.error.name %}
                                <br/><strong class="error">{{account.error.name.0}}</strong>
                            {% endif %}
                        </li>
						
					<li><label for="email">Email (required):</label><input class="required email text" id="createnameinput" type="text" name="email" tabindex="2"
						{% if account.error.email %}
							value="{{ account.error.email.1 }}"
						{% else %}
							{% if account.preferred_email %}
								value="{{ account.preferred_email|striptags }}"
							{% else %}
								value=""
							{% endif %}
						{% endif %}
						/>
				        {% if account.error.email %}
			                <br/><strong class="error">{{account.error.email.0}}</strong>
			            {% endif %}
					</li>
					
					{% if fv_account %}
                        <li>
                          <label for="password">Password</label>
                          <input class="password required" id="password" name="password" tabindex="3" type="password" />
                
                        </li>
                        <li>
                          <label for="password">Confirm Password</label>
                          <input class="password required" id="passwordcheck" name="passwordcheck" tabindex="4" type="password" />
	                      {% if account.error.passwords %}
	                            <br/><strong class="error">{{account.error.passwords.0}}</strong>
	                      {% endif %}                
                        </li>					
					{% endif %}
					</ul>
				    </fieldset>
					
                    <fieldset>
			        <ul><li><div class="label">I live nearest to:</div> 
						<select class="required" name="home_neighborhood">
						    <option value="">Neighborhood...</option>
						    {% for neighborhood in home_neighborhoods %}
						    <option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected="selected"{% endif %}>{{neighborhood.name}}</option>
						    {% endfor %}
						</select></li>			        
					<li><div class="label">I work nearest to:</div> 
						<select class="required" name="work_neighborhood">
						    <option value="">Neighborhood...</option>
						    {% for neighborhood in work_neighborhoods %}
						    <option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected{% endif %}>{{neighborhood.name}}</option>
						    {% endfor %}
						</select>					   
						</li>
                    </ul>
					</fieldset>
                    <fieldset>
                    <ul>	
					<li><input id='tosagree' type="checkbox" name="tosagree" class="required" value="1" /> I accept the <a class="fv" target="_blank" href="/static/tos">Terms of Use</a> and <a href="/static/privacy">Privacy Policy</a></li>
					{% if account.error.tosagree %}
						<br/><strong class="error">{{account.error.tosagree.0}}</strong>
					{% endif %}
					</li>
				</ul>
			</fieldset>
			<input class="submit" type="submit" value="Create my account" id="s_create_account"/>
		</form>
	</div>
</div>
<div id="righthalf">
	<div class="hardmodule" id="createinfo">
	    <div class="moduletitle">
	        <h3>Account Creation Information</h3>
	    </div>
	    <ul>
	        <li>Make sure to write down your username and password for next time!</li>
            <li>Please only create one Flash Volunteer account.</li>
	    </ul>
	</div>
</div>
{% endblock content %}