{% extends to_extend %}

{% block content %}

<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('New Account');
      });
</script>
<div id="lefthalf">
	<div id="createvolunteer" class="softmodule" >
		<div class="moduletitle">
			<h3>Welcome to Flash Volunteer!</h3>
		</div>
		<form action="/new" method="post">
		  <input type="hidden" name="session_id" value="{{ session_id }}" />
		      <fieldset>
				  <ul>			
				  
                        <li><label for="name">Your Name:</label><input class="text" id="createnameinput" type="text" name="name" tabindex="1"
                            {% if account.error.name %}
                                value="{{ account.error.name.1 }}"
                            {% else %}
                                {% if account.name %}
                                    value="{{ account.name|striptags }}"
                                {% else %}
                                    value=""
                                {% endif %}
                            {% endif %}
                            />
                            {% if account.error.name %}
                                <br/><strong class="error">{{account.error.name.0}}</strong>
                            {% endif %}
                        </li>
						
					<li><label for="email">Email (required):</label><input class="text" id="createnameinput" type="text" name="email" tabindex="2"
						{% if account.error.email %}
							value="{{ account.error.email.1 }}"
						{% else %}
							{% if account.preferred_email %}
								value="{{ account.preferred_email|striptags }}"
							{% else %}
								value=""
							{% endif %}
						{% endif %}
						/>
				        {% if account.error.email %}
			                <br/><strong class="error">{{account.error.email.0}}</strong>
			            {% endif %}
					</li>
					
					{% if fv_account %}
                        <li>
                          <label for="password">Password</label>
                          <input class="password" id="password" name="password" tabindex="3" type="password" />
                
                        </li>
                        <li>
                          <label for="password">Confirm Password</label>
                          <input class="password" id="password" name="passwordcheck" tabindex="4" type="password" />
	                      {% if account.error.passwords %}
	                            <br/><strong class="error">{{account.error.passwords.0}}</strong>
	                      {% endif %}                
                        </li>					
					{% endif %}
					</ul>
				    </fieldset>
					
                    <fieldset>
			        <ul><li><div class="label">I live nearest to:</div> {% include "../volunteers/settings/_select_home_neighborhood.html" %}
			        <li><div class="label">I work nearest to:</div> {% include "../volunteers/settings/_select_work_neighborhood.html" %} </li>
                    </ul>
					</fieldset>
                    <fieldset>
                    <ul>	
					<li><input id='tosagree' type="checkbox" name="tosagree" value="1" /> I accept the <a href="/static/tos">Terms of Use</a> and <a href="/static/privacy">Privacy Policy</a></li>
					{% if account.error.tosagree %}
						<br/><strong class="error">{{account.error.tosagree.0}}</strong>
					{% endif %}
					</li>
				</ul>
			</fieldset>
			<input class="submit" type="submit" value="Create my account" id="s_create_account"/>
		</form>
	</div>
</div>
<div id="righthalf">
	<div class="hardmodule" id="createinfo">
	    <div class="moduletitle">
	        <h3>Account Creation Information</h3>
	    </div>
	    <ul>
	        <li>Make sure to write down your username and password for next time!</li>
            <li>Please only create one Flash Volunteer account.</li>
	    </ul>
	</div>
</div>
{% endblock content %}