{% extends to_extend %}

{% block content %}
<script>
      set_active('home');

      $(document).ready(function() {
            load_title('Home');
            load_header('');
      });
</script>


<div id="home-top">
	
	<div id="home-about" class="fl">
		 
	    <div id="slogan">
	        Welcome, {{application_alias}}!
	    </div>
	    <div id="about">
	        <p>Flash Volunteer provides online tools for empowering people to participate more fully in their community.</p>
	
	        <p>Find nearby events that fit your schedule. Invite your friends. Create and host events. Improve your neighborhood!</p>
	
	        <p>If you coordinate service opportunities for an organization, use this site to post events and recruit volunteers.</p>
	    </div>
	</div>				
	
	<div id="splash-right" class="softmodule">
	    <div class="moduletitle">
	        <h3>Tips for Getting Started</h3>
	    </div>              
	        <ol>
	            {%if not volunteer%}<li><a href="/login">Login or signup.</a></li>{%endif%}
	            <li>Identify the <a href="/neighborhoods">neighborhoods</a> where you live and work{%if volunteer%}<a href="/settings"> by editing your volunteer profile</a>{%endif%}.</li>
	            <li>Sign up to volunteer for an <a href="/events">event</a>.</li>
	            <li>Attend the event.</li>
	            <li>Become {% if volunteer %} <a href="/team">Flash Friends</a>{%else%}Flash Friends{%endif%} with other volunteers.</li>
	            <li>{%if volunteer %}<a href="/events/new">{%endif%}Create and organize events{%if volunteer%}</a>{%endif%} in your neighborhood.</li>
	            <li>Repeat.</li>
	        </ol>                   
	
	</div>
	<div style="clear: both;"></div>
</div>
<div id="home-bottom">

    <script type="text/javascript">
    	$(document).ready(function(){ 
		    var html = "<script type=text/javascript src=http://www.twitter.com/statuses/user_timeline/flashvolunteer.json?callback=mtaTwitterCallback&amp;count=5><\/script>";
			html += '<div id=mtaTwitter class=fl><div class=moduletitle><h3>News Feed</h3></div><div id=mtaTwitterbody></div></div>';
		    $('#home-bottom').prepend(html);

            mtaTwitterStatusesFilterReplies = false;
		});
    </script>

	
	
	<div id="splash-leftmost">
	    {% include "../events/events_page/_upcoming_events.html" %}
	</div>
	<div style="clear: both;"></div>
</div>

{% endblock content %}