{% extends to_extend %}

{% block content %}

<script>
      set_active('home');

      $(document).ready(function() {
            load_title('Home');
            load_header('');
      });
</script>


<div id="home-top">



    <!--<div id="middle100" style="background-color:#C0E7B3; width: 98%">
        <a class="fv" href="/incentives" style="font-size:125%; color:#333">
		  <p style="padding:20px 20px 2px 20px; margin-top: 3px">You Give, We Give:</p>
		  <p style="padding:2px 20px 20px 20px; margin-top: 3px">Find out how to win prizes just by signing up to volunteer at an event.</p>
		</a>
	</div>-->
	
	<div class="cl"><!----></div>
    <div id="lefthalf">
			 
	    <div id="slogan">
	        Welcome, {{application_alias}}!
	    </div>
	    <div id="index_about">
	        <p>Flash Volunteer provides online tools for empowering people to participate more fully in their community.</p>
	
	        <p>Find nearby events that fit your schedule. Invite your friends. Create and host events. Improve your neighborhood!</p>
	
	        <p>If you coordinate service opportunities for an organization, use this site to post events and recruit volunteers.</p>
	    </div>
		<div class="cl"><!----></div>
	</div>
	<div id="righthalf">
	<div id="splash-right" class="softmodule">
	    <div class="moduletitle">
	        <h3>Tips for Getting Started</h3>
	    </div>              
	        <ol>
	            {%if not volunteer%}<li><a  class="fv" href="/login">Login or signup.</a></li>{%endif%}
	            <li>Identify the <a  class="fv" href="/neighborhoods">neighborhoods</a> where you live and work{%if volunteer%}<a href="/settings"> by editing your volunteer profile</a>{%endif%}.</li>
	            <li>Sign up to volunteer for an <a  class="fv" href="/events">event</a>.</li>
	            <li>Attend the event.</li>
	            <li>Become {% if volunteer %} <a  class="fv" href="/team">Flash Friends</a>{%else%}Flash Friends{%endif%} with other volunteers.</li>
	            <li>{%if volunteer %}<a  class="fv" href="/events/new">{%endif%}Create and organize events{%if volunteer%}</a>{%endif%} in your neighborhood.</li>
	            <li>Repeat.</li>
	        </ol>                   
    </div>	
	</div>
</div>
<div style="clear: both;"></div>

<div id="home-bottom">
    <div id="lefthalf">
    	<div class="softmodule">
    		<div class=moduletitle><h3>News Feed</h3></div>
	        <div id=mtaTwitter>
	
				<div id=mtaTwitterbody></div>
		    </div>
        </div>

    <script type="text/javascript">
    	$(document).ready(function(){ 
		    var html = "<script type=text/javascript src=http://www.twitter.com/statuses/user_timeline/flashvolunteer.json?callback=mtaTwitterCallback&amp;count=5><\/script>";
		    $('#mtaTwitterbody').prepend(html);

            mtaTwitterStatusesFilterReplies = false;
		});
    </script>
    </div>
	
	<div id="righthalf">
	    {% include "../events/events_page/_upcoming_events.html" %}
	</div>
	<div style="clear: both;"></div>
</div>

{% endblock content %}