{% extends "../_layout.html" %}
{% block title %}
Flash Volunteer
{% endblock title %}


{% block content %}
	<div id="lefthalf">

			<div class="account_section">
				<div class="moduletitle">
				    <h3>New Users</h3>
				</div>
				<p>You can create a new Flash Volunteer account by logging in through any of the providers on the right. Just click on the one that you prefer.</p>
				<p>If you do not already have an account with any of the providers, you can easily create one for any of the services.</p>
			</div>	
			<div class="account_section"> 
                <div class="moduletitle">
                    <h3>Returning Users</h3>
                </div>
				<p><span id="emph">Please use the same provider as last time.</span> Otherwise, a new Flash Volunteer account will be created for you.</p>
				<p><a href="mailto:info@flashvolunteer.org">Send us an email</a> if you want to merge two accounts.</p>
			</div>						
	</div>
	<div id="righthalf">
		<div class="emph">When you select a provider, you may be taken away from this site. After logging in, you will return to Flash Volunteer.</div> 

		{% if not dev_server %}
			<iframe src="https://flash-volunteer.rpxnow.com/openid/embed?token_url={{token_url}}" scrolling="no" frameBorder="no" style="width:100%;height:240px;">
				You do not have JavaScript enabled in your browser. Please enable JavaScript, or download a web browser that supports it.					
			</iframe>
		{% else %}
				<a class="button" href="{{login_url}}">
					<span class="buttonleft"> </span>
					<span class="buttoncenter" id="l_login">Enter local development site</span>
					<span class="buttonright"> </span>
				</a>						
		{% endif %}
	</div>

{% endblock content %}