<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
	<link type="text/css" rel="stylesheet" href="stylesheets/splash/style.css" />
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/ie7_new.css" /><![endif]-->
    <!--[if lt IE 7]><link type="text/css" rel="stylesheet" href="/stylesheets/ie6_new.css" /><![endif]-->
	<!--[if lt IE 7]><script defer type="text/javascript" src="/stylesheets/pngfix.js"></script><![endif]-->

</head>
<body>
	<div id="container" >
		<div id="top">
			<div id="top-wrap">
				<div class="float" id="fvlogo">
					<img src="stylesheets/splash/logo.png" alt="Flash Volunteer Logo" />
				</div>
				<div class="float" id="beta">
					<img src="stylesheets/splash/beta.png" alt="Flash Volunteer is in Beta" />
				</div>
				<div class="float" id="beta-text">
					* Which means we are still adding new features and 
					fixing bugs. <a href="/static/feedback">Send us feedback</a> if you have any suggestions. 
				</div>
			</div>
		</div>
		
		<div id="bottom" >
			<div id="bottom-wrap">
				<div id="cols">
					<div id="left">
						<div id="slogan">
							Discover. Connect. Make better.
						</div>
						<p>Flash Volunteer connects Seattle-area residents to volunteer opportunities, volunteers 
						to neighborhoods, and nonprofits to volunteers.</p>
						<p>Don't have a lot of time?
						No problem. When you have some downtime, just visit Flash Volunteer and find a fun and meaningful event in your area that fits your schedule. Maybe even that minute.</p>
						
						<div id="badges">
							<div class="badge" id="fb-badge">
							    <a href="http://www.facebook.com/pages/Flash-Volunteer/75272433226"><img src="stylesheets/splash/find_us_on_facebook_badge.gif" alt="Find us on Facebook"/></a>
							</div>
							<div class="badge" id="twitter-badge">
								<a href="http://twitter.com/flashvolunteer"><img src="stylesheets/splash/twitter_badge.png" alt="Follow us on Twitter"/></a>						
							</div>
						</div>
					</div>
					<div id="middle">				
						<p>
							<ol>
								<li>Create an account.</li>
								<li>Identify the neighborhoods you spend time in and your interests.</li>
								<li>Sign up to volunteer for an event.</li>
								<li>Attend the event.</li>
								<li>Afterwards, become Flash Friends with other event volunteers and find more volunteer opportunities going on nearby.</li>
								<li> Repeat steps 3-5, as necessary.</li>
								<li>Create and organize volunteer events in your neighborhood.</li>
							</ol>
							
						</p>
					
					</div>
					
					<div id="right">
						<div class="login_type">
							<div class="login_style">
								Volunteer Log in
							</div>			
							<div class="login_subtext">
								New & Returning Users
							</div>
							<a class="button" href="{{login_url}}">
								<span class="buttonleft"></span>
								<span class="buttoncenter" id="l_create_account">Let me in!</span>
								<span class="buttonright"></span>
							</a>				
						</div>
						<!--<div class="login_type" id="log-in">
							<div class="login_style">
								Log in:
							</div>
							<div class="login_subtext">
								Returning Users
							</div>		
							<a class="button" href="{{login_url}}">
								<span class="buttonleft"> </span>
								<span class="buttoncenter" id="l_login">Log In</span>
								<span class="buttonright"> </span>
							</a>
						</div>-->
					</div>	
				</div>
				<div id="footer">
					<ul>
						<li><a href="/static/about">About Flash Volunteer</a></li>
						<li><a href="/static/feedback">Give Us Feedback</a></li>
						<li><a href="/static/donate">Donate</a></li>
						<li><a href="/static/privacy">Privacy Policy</a></li>
						<li><a href="/static/tos">Terms of Use</a></li>
					</ul><br>
					<div id="copyright">Copyright &copy; 2009 Flash Volunteer. All Rights Reserved.</div>
				</div><!--end footer-->					
			</div>

	
		</div>
		
<!--
		<div id="subcontainer" >
			<div id="left" >
				<img id="fvlogo" src="stylesheets/splash/flashvolunteer-logo.png" alt="Flash Volunteer Logo" />
				<div id="releaseinfo">
					Flash Volunteer is scheduled for launch in summer 2009. Please continue to check back here frequently for updates.
				</div>
				<div id="moreinfo">
					If you'd like to learn more, volunteer, or help support Flash Volunteer, drop us a line at <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a>
				</div>
				<div id="fb-badge">
				    <a href="http://www.facebook.com/pages/Flash-Volunteer/75272433226"><img src="stylesheets/splash/find_us_on_facebook_badge.gif" alt="Find us on Facebook"/></a>
				</div>
				<div id="fb-insentive">
					Become our fan on Facebook to see more screenshots and hear a recent interview on KEXP.
				</div>
			</div>
			<div id="right" >
				<div id="discover">
					<h2>Discover. Connect. Make better.</h2>
				</div>
				<div id="info">
					Flash Volunteer is a local Seattle nonprofit that seeks to inspire neighborhood-focused volunteerism through the use of user-friendly, barrier-free, online tools that connect volunteers to neighborhoods, nonprofits to volunteers and people to projects.
				</div>
				<div id="benefitsindividuals">
					<span class="listlabel" >Benefits to individuals:</span>
					<ul>
						<li>One-time volunteer opportunities for issues you care about, in the neighborhoods you live and work in.</li>
						<li>Easy registration. Complete your profile and you are ready to go.</li>
						<li>Become a micro volunteer manager with tools to plan and organize your own local volunteer activity</li>
						<li>Connect with fellow volunteers after each event online and in person</li>
						<li>FV identifies events that fit your interests and "pushes" them to you through your personal volunteer homepage.  Never search again!</li>
						<li>Wake up Saturday morning with no plans? FV has last minute volunteer opportunities and will text them to you on your couch!</li>
					</ul>
				</div>
				<div id="benefitsorgs">
					<span class="listlabel">Benefits to Nonprofits, Community Groups and Local Government:</span>
					<ul>
						<li>Access to a large pool of engaged volunteers</li>
						<li>No cost</li>
						<li>Use of the innovative Flash Volunteer networking platform to recruit, communicate with, organize and thank volunteers</li>
						<li>Partnership in FlashVolunteer.org neighborhood outreach efforts</li>
						<li>Feedback on past events and access to metrics to help plan future ones</li>
						<li>Last-minute, "on demand" event support from local volunteers</li>
						<li>Ideal for understaffed groups that rely on volunteerism to thrive</li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10613308-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
