
<div id="personinformation" class="softmodule">
	<div class="moduletitle">
		<h3>Information</h3>
	</div>
	<ul>
	  {% if page_volunteer.home_neighborhood %}
		<li><span class="label">Lives in</span> <a class="fv" href="{{ page_volunteer.home_neighborhood.url }}">{{ page_volunteer.home_neighborhood.name }}</a></li>
		{% endif %}
{% if page_volunteer.work_neighborhood %}
		<li><span class="label">Works in</span> <a class="fv" href="{{ page_volunteer.work_neighborhood.url }}">{{ page_volunteer.work_neighborhood.name }}</a></li>
{% endif %}
	</ul>
</div><!--end information-->