
<div id="personfriends" class="softmodule">
	<div class="moduletitle">
        <h3>Team</h3>
	</div>
	<ul>
		{% for volunteer_in_list in page_volunteer.friends %}
			<li><a href="{{volunteer_in_list.url}}">{{ volunteer_in_list.account.get_name }}</a></li>
		{% endfor %}
	</ul>
</div><!--end friends-->

{% if page_volunteer.friends %}
    {% ifnotequal page_volunteer.friends|length 0 %}
    <div class="pagination_entry">
	      <a onclick="build_dialog(25,{{page_volunteer.key.id}})">&raquo; View all</a>

    </div>
    {% endifnotequal %}
{% endif %}