
<div id="neighborvolunteers" class="hardmodule">
    <div class="moduletitle">
    	<h3>Flash Volunteers living in {{ neighborhood.name }}</h3>
	</div>
    <ul id="imagenamelinklist">{% for volunteer_in_list in volunteers_living_here %}
        {% include "../volunteers/person_lists/_volunteer_list_item.html" %}
    {% endfor %}
        
    
    </ul>
</div>

{% if volunteers_living_here %}
    {% ifnotequal volunteers_living_here|length 0 %}
    <div class="pagination_entry">
	   <a onclick="build_dialog(23,{{neighborhood.key.id}})">&raquo; View all</a>

    </div>
    {% endifnotequal %}
{% endif %}