<div id="neighborvolunteers" class="hardmodule">
    <div class="moduletitle"><h3>Flash Volunteers working in {{ neighborhood.name }}</h3></div>
    <ul>{% for volunteer_in_list in volunteers_working_here %}
        {% include "../volunteers/person_lists/_volunteer_list_item.html" %}
    {% endfor %}    
    </ul>
</div>

{% if volunteers_working_here %}
    {% ifnotequal volunteers_working_here|length 0 %}
    <div class="pagination_entry">
       <a onclick="build_dialog(24,{{neighborhood.key.id}})">&raquo; View all</a>
    </div>
    {% endifnotequal %}
{% endif %}