<div id="brad_contact" class="hardmodule">
	<div class="moduletitle">
		<h3>Send us feedback!</h3>
	</div>
	<div class="full100">
		<p>Flash Volunteer depends on users like you to provide valuable feedback.</p>
		
		<ul>
        	<li>What works, what doesn't?</li>
        	<li>What do you like and what do you dislike?</li>
        	<li>What features do you think are missing?</li>
        </ul>
        
        <p>You can give us feedback by...</p>
		<ul>	
    	    <li>Sending an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a></li>
		</ul>
	</div>
</div>
