	<link rel="stylesheet" type="text/css" href="/stylesheets/css/faq.css" />
	<script src="/stylesheets/jquery/js/jquery.ui.js" type="text/javascript"></script>
	<script>
	    $(document).ready(function(){
	     var $tabs = $(".tab-links").tabs();	       	   	    	      	      
	    });
	 </script> 
	  	 
<div id="brad_contact" class="hardmodule">

	<div class="moduletitle">
		<h3>Need help? Have a question?</h3>
	</div>
	<ul>	
    	<li>Send an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a> and we’ll get you answers!</li>
	</ul>

	<div class="moduletitle">
		<h3>FAQ</h3>
	</div>	


  <ul id="nav" class="tab-links">

		<li>
		<a href="#faq-beta">What does it mean for Flash Volunteer to be in "beta"?</a>				
		</li>
		
		<li>
		<a href="#faq-events">Why do I not have any upcoming events? How can I find events?</a>	
		</li>
		
		<li>
		<a href="#faq-recommended-events">Why do I not have any recommended events? 
		Where do recommended events come from?</a>	
		</li>
				
		<li>
		<a href="#faq-teammates">Why is there no one in my Flash Team? How do I find other Flash Volunteers?</a>					
		</li>
		
	</ul>
	
	<div id="faq-sections">
	
		<div id="faq-beta">
		<h3>Beta</h3>
			<p>It means that we are still adding new features and 
			fixing bugs. If you have any suggestions, <a href="/static/feedback">send us feedback</a>. 
			Please be patient while we continue to improve Flash Volunteer!</p>	
		</div>
		
		<div id="faq-events">
		<h3>Upcoming Events</h3>				
			<p>You can find events through the <a href="/events">event search</a>, browsing through <a href="/neighborhoods">neighborhoods</a>,
			and looking at your <a href="/events">recommended events</a>.</p>
		</div>
		
		<div id="faq-recommended-events">
		<h3>Recommended Events</h3>		
			<p>Events are recommended based on the interest categories you have selected, as well as your home and work neighborhood. 
			You can modify your interest categories and neighborhoods by <a href="/settings">editing your profile</a>.</p>
		</div>
		
		<div id="faq-teammates">
		<h3>Teammates</h3>				
			<p>Find teammates by <a href="/team">searching for other volunteers</a>, befriending 
			people you've met at <a href="/events">volunteer events</a>,
			and by confirming <a href="/team">people who have added you as their Flash Friend</a> (if any have).</p>
		</div>
	</div>
	

</div>
