<div id="brad_contact" class="hardmodule">

	<div class="moduletitle">
		<h3>Need help? Have a question?</h3>
	</div>
	<ul>	
    <li>Send an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a> and we’ll get you answers!</li>
	</ul>

	<div class="moduletitle">
		<h3>FAQ</h3>
	</div>
	<ul>
		<li><h2>What does it mean for Flash Volunteer to be in "beta"?</h2>
		<a href="#beta"></a>
				It means that we are still adding new features and 
					fixing bugs. If you have any suggestions, <a href="/static/feedback">send us feedback</a>. 
					Please be patient while we continue to improve Flash Volunteer!	
		</li>
		
		<li><h2>Why do I not have any upcoming events? How can I find events?</h2>
		<a href="#events"></a>
				You can find events through the <a href="/events">event search</a>, browsing through <a href="/neighborhoods">neighborhoods</a>,
				and looking at your <a href="/events">recommended events</a>.
		</a>.
	
		</li>
		<li><h2>Why do I not have any recommended events? Where do recommended events come from?</h2>
		<a href="#recommended-events"></a>
				Events are recommended based on the interest categories you have selected, as well as your home and work neighborhood. 
				You can modify your interest categories and neighborhoods by <a href="/settings">editing your profile</a>.
		</a>.
	
		</li>		
		<li><h2>Why is there no one in my Flash Team? How do I find other Flash Volunteers?</h2>
		<a href="#volunteers"></a>
				Find teammates by <a href="/team">searching for other volunteers</a>, befriending 
	people you've met at <a href="/events">volunteer events</a>,
	and by confirming <a href="/team">people who have added you as their Flash Friend</a> (if any have).
	
		</li>

		
	</ul>

</div>
