<div id="mission" class="hardmodule">
	<div class="moduletitle">
		<h3>Our Mission</h3>
	</div>
  <p>Flash Volunteer seeks to build community and increase volunteerism in Seattle 
  through the creation of a sustainable, user-friendly online platform to connect, 
  inspire and mobilize volunteers to effect meaningful change on a neighborhood level. 
  The time has come to create a true, on-line volunteer community that inspires citizens 
  to action and supports their enthusiasm for making a difference. With major budget
  shortfalls projected in the years ahead and a recent national call for more community 
  service, Flash Volunteer provides the necessary tools to help people make a difference 
  today.</p>
</div>
