<div id="staff_list" class="hardmodule">
	<div class="moduletitle">
		<h3>Volunteer Staff List </h3>
	</div>
	<ul>
	
<li>Jennifer Atkinson - Creative Consultant</li>
<li>Erika Canfield - Creative Lead</li>
<li>Sara Cole-Daum - Marketing Director</li>
<li>Amy Cox - Operations Director</li>
<li>Jay Cox - Marketing Manager</li>
<li>Elizabeth Duffell - Finance Director</li>
<li>Koos Kleven - Web Designer</li>
<li>Travis Kriplean - Software Developer</li>
<li>Toby Latin-Stoermer - Lead Software Developer</li>
<li>Mellicia Marx - Outreach Director</li>
<li>Justin Marx - Creative Director</li>
<li>Ty Migota - Media Manager</li>
<li>Eva Ringstrom - Nonprofit Outreach</li>
<li>Brooke Spearmon - Business Consultant</li>
<li>Andreas Wanka - Software Developer</li>
<li>Lee Williams - Lead Software Developer</li>
<li>Brad Wilke - Executive Director</li>

  </ul>
</div>
