<div id="staff_list" class="hardmodule">
	<div class="moduletitle">
		<h3>Volunteer Staff List </h3>
	</div>
	<ul>
  <li>Sara Cole-Daum - Marketing Director</li> 
  <li>Mellicia Marx - Outreach Director</li> 
  <li>Justin Marx - Creative Director</li> 
  <li>Lee Williams - Lead Software Developer</li> 
  <li>Toby Latin-Steurmer - Lead Software Developer</li> 
  <li>Travis Kriplean - Software Developer</li> 
  <li>Jennifer Atkinson - Creative Consultant</li> 
  <li>Jay Cox - Marketing Manager</li> 
  <li>Koos Kleven - Web Designer</li> 
  <li>Elizabeth Duffell - Finance Director</li> 
  <li>Amy Lewis Cox - Operations Director</li> 
  <li>Ty Migota - Media Manager</li> 
  <li>Brooke Spearmon - Publicity Manager</li> 
  <li>Erika Canfield - Creative Lead</li> 
  <li>Andreas Wanka - Software Developer </li>
  <li>Eva Ringstrom - Nonprofit Outreach</li> 
  <li>Brad Wilke - Executive Director</li>
  </ul>
</div>
