
<div id="staff_list" class="hardmodule">
    <div class="moduletitle">
        <h3>Our Team </h3>
    </div>
    
    <div id="recruitment">
        Want to join our team? Send an email to <a href="mailto:info@flashvolunteer.org">info@flashvolunteer.org</a>!
    </div>
    <div>
        <div class="staff_group">
            <h2>Operations</h2>
            <ul>
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/22838/avatar" /></div><div class="staff_desc"><div class="staff_name"><a href="http://www.flashvolunteer.org/volunteers/22838">Brad Wilke</a></div><div class="staff_role">Executive Director</div></div><div class="cl"></div></div></li>
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" /></div><div class="staff_desc"><div class="staff_name">Melissa Collett</div><div class="staff_role">Fundraising Director</div></div><div class="cl"></div></div></li>
            </ul>
            <div class="cl"><!--empty--></div>
        </div>
        
        <div class="staff_group">
        <h2>Outreach</h2>
            <ul> 
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" /></div><div class="staff_desc"><div class="staff_name">Holly Wyrwich</div><div class="staff_role">Marketing Director</div></div><div class="cl"></div></div></li>     
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" /></div><div class="staff_desc"><div class="staff_name">Evita Almassi</div><div class="staff_role">Social Media Director</div></div><div class="cl"></div></div></li>     
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="http://www.flashvolunteer.org/volunteers/38802/avatar" /></div><div class="staff_desc"><div class="staff_name"><a class="fv" href="/volunteers/38802">Jennifer Atkinson</a></div><div class="staff_role">Grant Consultant</div></div><div class="cl"></div></div></li>      
            </ul>
            <div class="cl"><!--empty--></div>
        </div>
        
        <div class="staff_group">
            <h2>Technical</h2>
            <ul>
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" /></div><div class="staff_desc"><div class="staff_name"><a class="fv" href="/volunteers/9424052">Logan Buesching</a></div><div class="staff_role">Development Director</div></div><div class="cl"></div></div></li>
                <li><div class="staff_block"><div class="staff_pic"><img class="staff_avatar" src="/stylesheets/media/default-profile-pic-small.png" /></div><div class="staff_desc"><div class="staff_name"><a class="fv" href="/volunteers/9424052">Janis Lee</a></div><div class="staff_role">Development Director</div></div><div class="cl"></div></div></li>
            </ul>
            <div class="cl"><!--empty--></div>
        </div>
    </div>
</div>

