{% extends to_extend %}

{% block title_block %}
    <h1>About Flash Volunteer</h1>
{% endblock %}

{% block content %}

<script>
      set_active('');
      $(document).ready(function() {
            load_title('About');
			load_header('About Flash Volunteer');
      });
</script>


<div id="middle100">

	<div id="vision" class="hardmodule">
	    <div class="moduletitle">
	        <h3>Our Vision</h3>
	    </div>
	  <p>Everyone in Seattle engaged in regular volunteer service.</p>
	</div>


	<div id="mission" class="hardmodule">
	    <div class="moduletitle">
	        <h3>Our Mission</h3>
	    </div>
	  <p>Flash Volunteer seeks to build community and increase volunteerism in Seattle through the creation of a sustainable, user-friendly online platform to connect, inspire and mobilize volunteers to effect meaningful change on a neighborhood level. </p>
	  <p>We are a 501(c)3 non-profit organization.</p>
	  <p>The source code we are developing is an open source <strong>project</strong>. <a target="_none" href="http://code.google.com/p/flashvolunteer/">Join the effort!</a></p>
	</div>


{% include "../static/_staff_list.html" %}

	<div id="mission" class="hardmodule">
	    <div class="moduletitle">
	        <h3>Board of Directors</h3>
	    </div>
	  <ul>
	  <li>Sara Cole-Daum, President</li>
	  <li>Amy Lewis Cox, Vice President</li>
	  <li>Elizabeth Duffell, Treasurer</li>
	  <li>Jennifer Atkinson</li>
	  <li>Joy Wilke Graf</li>
	  <li>Travis Kriplean</li>
	  <li>Justin Marx</li>
	  <li>Mellicia Marx</li>
	  <li>Eva Ringstrom</li>
	  <li>Brad Wilke (Ex Officio)</li>
	
	  </ul>
	</div>

</div>

{% endblock content %}