{% extends to_extend %}

{% block content %}

<script>
      set_active('');
      $(document).ready(function() {
            load_title('Partners');
			load_header('Our Partners');
      });
</script>


<div id="middle100">
	<p>Flash Volunteer has been built and promoted entirely by volunteers. A number of organizations have also helped. Here we acknowledge our partners and sponsors.</p>
</div>
<div id="lefthalf">
    <ul id="partners">
        <li>
            <div class="logo">
                <a><img src="/stylesheets/media/cokj_logo.gif"/></a>
            </div>
            <a>Christensen O'Connor Johnson Kindness, PLLC</a> The law firm that graciously reviews our contracts and provides pro bono legal advice. Special thanks to Peter Chu.
        </li>
		<li>
    		<div class="logo">
    			<a><img src="/stylesheets/media/allforgood_logo.gif"/></a>
			</div>
		    <a>All for Good</a> We import some events from All for Good (via their API feed) to help ensure we have a wide variety of volunteer activities for people to sign up for.
        </li>
		<li>
    		<div class="logo">
    			<a><img src="/stylesheets/media/somethingtogive_logo.jpg"/></a>
			</div>
		    <a>SomethingtoGive</a> A new Seattle nonprofit that provides a venue for people to 'spend' credits they have earned volunteering to 'buy' rewards that are offered by others.
        </li>
		<li>
    		<div class="logo">
    			<a><img src="/stylesheets/media/emicus_logo.gif"/></a>
			</div>
		    <a>Emicus</a> is a a web platform where people can receive and share critical disaster information. It was created by a group of fellow Seattleites and we're looking for ways to work together in the future.
        </li>
    </ul>
</div>
<div id="righthalf">
    <ul id="partners">
    	<li>
    		<div class="logo">
    			<a><img src="/stylesheets/media/ubermind-logo.gif"/></a>
			</div>
	 	   <a>&Uuml;bermind</a> is a Seattle-area software consulting firm specializing in mobile social software. They are developing our iPhone application...pro bono.
		</li>
		<li>
   	    	<div class="logo">
  	         	<a><img src="/stylesheets/media/internmatch_logo.png"/></a>
           	</div>
           	<a>InternMatch</a> Looking for an intern and not a volunteer? Then please check out InternMatch, a site dedicated to connecting interns to nonprofits and small businesses in Seattle.    
  		</li>
		<li>
   	    	<div class="logo">
  	         	<a><img src="/stylesheets/media/dogoodr_logo.jpg"/></a>
           	</div>
           	<a>DoGoodr</a> is a new user-driven online foundation for nonprofits to post needs (e.g. donations, interns) and find community members to fulfill them.    
  		</li>
    </ul>
</div>
{% endblock content %}