{% extends "../_layout.html" %}
{% block title %}
Help
{% endblock title %}

{% block helpactive %}
class="current"
{% endblock %}

{% block content %}
<div id="middle100">
	<p>Flash Volunteer has been built and promoted entirely by volunteers. A number of organizations have also helped. Here we acknowledge our partners and sponsors.</p>
</div>
<div id="lefthalf">
    <ul id="partners">
    	<li>
    		<div class="logo">
    			<a href="http://www.ubermind.com/index.php"><img src="/stylesheets/media/ubermind-logo.gif"/></a>
			</div>
		    <a href="http://www.ubermind.com/index.php">&Uuml;bermind</a> is a Seattle-area software consulting firm specializing in mobile social software. They are developing our iPhone application...pro bono.
		</li>

    </ul>
</div>
<div id="righthalf">
    <ul id="partners">
        <li>
            <div class="logo">
                <a href="http://www.dogoodr.org"><img src="/stylesheets/media/dogoodr_logo.jpg"/></a>
            </div>
            <a href="http://www.dogoodr.org">DoGoodr</a> is a new user-driven online foundation for nonprofits to post needs (e.g. donations, interns) and find community members to fulfill them.    
        </li>

    </ul>
</div>
{% endblock content %}