
<script>
  $(document).ready(function(){
    $(".validate_form").validate({
	    errorPlacement: function(error, element) {},
	    invalidHandler: function(form, validator) {
	      var errors = validator.numberOfInvalids();
	      if (errors) {
            $('.form_error').html('Errors found! Please check the red-bordered fields.');
	        $(".form_error").show();
	      } else {
	        $(".form_error").hide();
	      }
	    },
 	    submitHandler: function(form) {
	       d1 = $('#startdate').val() + $('#starttime').val().substring($('#starttime').val().length - 2)+ $('#starttime').val();
           d2 = $('#enddate').val() + $('#endtime').val().substring($('#endtime').val().length - 2) + $('#endtime').val(); 
	       if (d1 >= d2) {
                $('.form_error').html('Invalid dates: the event must end after it starts!');
		        $(".form_error").show();
		   }
		   else {
		   	  if (d1 < get_current_datetime()) {
                $('.form_error').html('Invalid start date: the event must occur in the future!');
                $(".form_error").show();			  
			  }
			  else {
			  	$(".form_error").hide();
			  	form.submit();
			  }
		   }
	    }

	})
  });
</script>

<script language="javascript">
	$(document).ready(function()    {
	   $('.html_editor').markItUp(myHtmlSettings);
	});
</script>

<style type=text/css>
	.markItUpEditor {
		width: 100%;
	}
	.markItUp {
		width: 100%;
	}
	div#createevent div.markItUpHeader ul li {
		padding-top: 3px;
		margin-bottom: 0;
		
	}
	div#createevent div.markItUpHeader ul {
	   margin-bottom: 0;	
	   padding-bottom: 0;
	}
    .markItUpEditor {
    	height: 150px;
    }
</style>




<div id="createevent" class="softmodule">
	<div class="moduletitle"><h3>Create An Event</h3></div>
	
	<form class="validate_form" action="{% if event.is_saved %}
						{{event.url}}/edit
					{% else %}
						/events/new
					{% endif %}" method="post"><ul>
        <div class="form_error">
        	Errors found! Please check the red-bordered fields. 
        </div>
		<li>
			<div class="eventcreatelabel">Name:</div>
			<div class="eventinput"> 
				<input class="required text" id="eventname" name="name" type="text" value="{{event.name|striptags}}" />
			</div>
		</li>

		{% include "../events/create_event_page/_date_and_time_option.html" %}

		<li>
			<div class="eventcreatelabel">Neighborhood:</div>
			<div class="eventinput">
				<select name="neighborhood" class="required">
				    <option value="">Neighborhood...</option>
				    {% for neighborhood in neighborhoods %}
				        <option value="{{neighborhood.key.id}}" {% if neighborhood.selected %}selected="selected"{% endif %}>{{neighborhood.name}}</option>
				    {% endfor %}
				</select>
			</div>
		</li>
		
		<li>
			<div class="eventcreatelabel">Address:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_enter_address.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Description:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_description_input.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Special Instructions:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_special_instructions_input.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Categories:</div>
			<div class="eventinput">
				{% include "../interestcategories/_interestcategories.html" %}
			</div>
		</li>
	</ul>

	<div id="official_coordinator">
		<input id="official_coordinator_checkbox" name="coordinator" type="checkbox" value="1"  {% if event.coordinator %}checked="checked"{%endif%}/>
	  	<label class="checkboxlabel" title="If you are not, please go ahead and create the event anyway. It may not immediately be shown in the Flash Volunteer system." for="coordinator">I am the official contact for this event</label>
        <br>
        <input id="official_coordinator_checkbox" name="show_event" type="checkbox" value="1" {% if event.hidden %}{%else%}checked="checked"{%endif%}/>
        <label class="checkboxlabel" title="Check this if you want to wait until later to let other people browse for this event." for="show_event" >List this event</label>

	</div>
	<div>		
		<input type=hidden name="session_id" value="{{ session_id }}">
		<input class="submit" id="submit" type="submit" value="{% if event.is_saved %}Update{% else %}Create Event{% endif %}"/>
	</div>
	</form>
</div>