
<div id="createevent" class="softmodule">
	<div class="moduletitle"><h3>Create An Event</h3></div>
	
	<form action="{% if event.is_saved %}
						{{event.url}}/edit
					{% else %}
						/events/new
					{% endif %}" method="post"><ul>
		<li>
			<div class="eventcreatelabel">Name:</div>
			<div class="eventinput"> 
				{% include "../events/create_event_page/_name_input.html" %}
			</div>
		</li>

		{% include "../events/create_event_page/_date_and_time_option.html" %}

		<li>
			<div class="eventcreatelabel">Neighborhood:</div>
			<div class="eventinput">
				{% include "../neighborhoods/_select_neighborhood.html" %}
			</div>
		</li>
		
		<li>
			<div class="eventcreatelabel">Address:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_enter_address.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Description:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_description_input.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Special Instructions:</div>
			<div class="eventinput">
				{% include "../events/create_event_page/_special_instructions_input.html" %}
			</div>
		</li>
		<li>
			<div class="eventcreatelabel">Categories:</div>
			<div class="eventinput">
				{% include "../interestcategories/_interestcategories.html" %}
			</div>
		</li>
	</ul>

	<div id="official_coordinator">
		<input id="official_coordinator_checkbox" name="coordinator" type="checkbox" value="1"  {% if event.coordinator %}checked="checked"{%endif%}/>
	  	<label class="checkboxlabel" title="If you are not, please go ahead and create the event anyway. It may not immediately be shown in the Flash Volunteer system." for="coordinator">I am the official contact for this event</label>
        <br>
        <input id="official_coordinator_checkbox" name="show_event" type="checkbox" value="1" {% if event.hidden %}{%else%}checked="checked"{%endif%}/>
        <label class="checkboxlabel" title="Check this if you want to wait until later to let other people browse for this event." for="show_event" >List this event</label>

	</div>
	<div>		
		<input type=hidden name="session_id" value="{{ session_id }}">
		<input class="submit" id="submit" type="submit" value="{% if event.is_saved %}Update{% else %}Create Event{% endif %}"/>
	</div>
	</form>
</div>