
<!--[if IE]><script type="text/javascript" src="scripts/jquery/js/jquery.bgiframe.js"></script><![endif]-->
<style>
	div.time-picker {
	  position: absolute;
	  height: 200px;
	  width:90px; /* needed for IE */
	  overflow: auto;
	  background: #fff;
	  border: 1px solid #000;
	  z-index: 99;
	  margin-top: 25px;
    }
	div.time-picker-12hours {
	  width:90px; /* needed for IE */
	}
	
	div.time-picker ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
	div.time-picker li {
	  padding: 3px;
	  cursor: pointer;
	}
	div.time-picker li.selected {
	  background: #316AC5;
	  color: #fff;
	}
</style>

<script type="text/javascript">
	$(document).ready(function()
	{		

        if ($.browser.msie && $.browser.version <= "6.0") {
			$(".time-pick").timePicker({
				show24Hours: false,
				step: 15
			});
		}
		else{
	        //custom time-picker from http://haineault.com/media/jquery/ui-timepickr/page/
	        $.getScript("/stylesheets/timepicker/jquery.timepickr.js", function(){
	                $('.time-pick').timepickr({
	                    trigger: 'click',
	                    convention: 12,
	                    resetOnBlur: false,
	                    rangeHour12: [12,1,2,3,4,5,6,7,8,9,10,11] });
	            });
		}		
		
        //jquery ui date-picker
		$("#startdate").datepicker({
		  onClose: function(e, selectedDates){
                    if (e) {
						var date = $('#startdate').datepicker("getDate");
                        if ($('#enddate').datepicker('getDate') == null) {//init end date
                            $('#enddate').datepicker('setDate', date); 
                        }
                    }

                }}
		);

        $("#enddate").datepicker({
          onClose: function(e, selectedDates){
                    if (e) {
                        var date = $('#enddate').datepicker("getDate");
                        if ($('#startdate').datepicker('getDate') == null) {//init end date
                            $('#startdate').datepicker('setDate', date); 
                        }
                    }

                }}
        );

	});

</script>

<li>
	<div class="eventcreatelabel">Start Date/Time:</div>
	<div class="eventinput">
		<span class="format_help">e.g. 09/01/2009</span><input type="text" name="startdate" id="startdate" class="required date date-pick text" value="{{ event.get_startdate }}" /> 
        <span class="format_help">e.g. 03:00 PM</span><input type="text" name="starttime" id="starttime" class="required time-pick text" value="{{ event.get_start_time }}" /> 

		{% if event.error.eventstart %}
			{% for error in event.error.eventstart %}
			<br/><strong class="error">{{error}}</strong>
			{% endfor %}
		{% endif %}
	</div>
</li>
<li>
	<div class="eventcreatelabel">End Date/Time:</div>
	<div class="eventinput">
		<span class="format_help">e.g. 09/01/2009</span><input type="text" name="enddate" id="enddate" class="required date date-pick text" value="{{ event.get_enddate }}" /> 
		<span class="format_help">e.g. 04:30 PM</span><input type="text" name="endtime" id="endtime" class="required time-pick text" value="{{ event.get_end_time }}" /> 

		{% if event.error.eventend %}
			{% for error in event.error.eventend %}
				<br/><strong class="error">{{error}}</strong>
			{% endfor %}
		{% endif %}
		{% if event.error.enddate_early %}
			<br/><strong class="error">{{event.error.enddate_early.0}}<br>{{event.error.enddate_early.1}}</strong>
		{% endif %}
	</div>
	
</li>

