<div id="personblock" class="softmodule">
    <img id="nameavatar" src="
            {% if volunteer.avatar %}
                {{ volunteer.url }}/avatar
            {% else %}
            /stylesheets/default-profile-pic.png
            {% endif %}"  
        alt="{{ volunteer.get_name|striptags }}"
    />
   	<form action="/settings" method="post" enctype="multipart/form-data">
	<input type=hidden name="session_id" value="{{ session_id }}">
       <ul>
			<li><input type="file" name="avatar" size="10" id="avataruploadinput" /> (JPEG format only)</li>
			<li><input type="submit" value="upload" /></li>
		</ul>
	</form>
</div>