<div id="createvolunteer" class="softmodule" >
	<div class="moduletitle">
		<h3>Welcome to Flash Volunteer!</h3>
	</div>
	<form action="/settings" method="post">
	<input type="hidden" name="session_id" value="{{ session_id }}" />
	
	<ul>
		<li><span class="label">Your Name:</span><input id="createnameinput" type="text" name="name"
			{% if account.name %}
				value="{{ account.name|striptags }}"
			{% else %}
				value="{{ default_name|striptags }}"
			{% endif %}
			/>
		</li>


		<li><span class="label">Email (required):</span><input id="createnameinput" type="text" name="email"
			{% if account.get_email %}
				value="{{ account.get_email|striptags }}"
			{% else %}
				value="{{ default_email|striptags }}"
			{% endif %}
			/>
		</li>

        <li><span class="label">I live nearest to:</span> {% include "../volunteers/settings/_select_home_neighborhood.html" %}
        <li><span class="label">I work nearest to:</span> {% include "../volunteers/settings/_select_work_neighborhood.html" %} </li>
					
		<li><input id='tosagree' type="checkbox" name="tosagree" value="1" /> I agree to the Flash Volunteer <a class="fv" href="/static/tos">Terms of Use</a></li>
		{% if volunteer.error.tosagree %}
			<br/><strong class="error">{{volunteer.error.tosagree.0}}</strong>
		{% endif %}
		</li>
		<li><input type="submit" value="Create my account" id="s_create_account"/></li>
	</ul>
	</form>
</div>