<div id="createvolunteer" class="softmodule" >
	<div class="moduletitle">
		<h3>Welcome to Flash Volunteer!</h3>
	</div>
	<form action="/settings" method="post">
	<input type="hidden" name="session_id" value="{{ session_id }}" />
	<ul>
		<li><span class="label">Your Name:</span><input id="createnameinput" type="text" name="name" value="
			{% if volunteer.error.name %}
				{{ volunteer.error.name.1 }}
			{% else %}
				{% if volunteer.name %}
					{{ volunteer.name|striptags }}
				{% else %}
					{{ default_name|striptags }}
				{% endif %}
			{% endif %}
			" /></li>
			{% if volunteer.error.name %}
				<br/><strong class="error">{{volunteer.error.name.0}}</strong>
			{% endif %}
		<li><input id='tosagree' type="checkbox" name="tosagree" value="1" /> I agree to the Flash Volunteer <a href="/toslink">Terms of Use</a></li>
		{% if volunteer.error.tosagree %}
			<br/><strong class="error">{{volunteer.error.tosagree.0}}</strong>
		{% endif %}
		
		<li><input type="submit" value="Create my account" id="s_create_account"/></li>
	</ul>
	</form>
</div>