
		<div id="personinformation" class="softmodule">
			<div class="moduletitle">
				<h3>Information</h3>
				<a href="/settings">edit</a>
			</div>
			<ul>
				<li><span class="label">I live in:</span> <a href="{{ volunteer.home_neighborhood.url }}">{{ volunteer.home_neighborhood.name }}</a></li>
				<li><span class="label">I work in:</span> <a href="{{ volunteer.work_neighborhood.url }}">{{ volunteer.work_neighborhood.name }}</a></li>
				<li><span class="label">I have been a Flash Volunteer for:</span> {{ volunteer.joinedon|timesince }}</li>
				<li><span class="label">I have volunteered at:</span> {{ volunteer.events_past_count }} events</li>
				<li><span class="label">I am signed up for:</span> {{ volunteer.events_future_count }} upcoming events</li>
			</ul>
		</div><!--end information-->