
		<div id="personblock" class="softmodule">
		
		<img id="nameavatar" src="
				{% if volunteer.avatar %}{{ volunteer.url }}{% else %}/stylesheets/default-profile-pic.png{% endif %}"  
			alt="{{ volunteer.get_name|striptags }}"
		/>
			<ul>
				<li id="personname">{{ volunteer.get_name|striptags }}</li>
				{% if volunteer.quote|striptags %}
					<li id="personstatement">{{ volunteer.quote|striptags }}</li>
				{% endif %}
				<li class="tallerlistitem"><a href="/settings">&raquo; Edit profile</a></li>
			</ul>
		</div><!--end personblock-->