
        <div id="personblock" class="softmodule">
        
        <img id="nameavatar" src="
                {% if page_volunteer.avatar %}
                    {{ page_volunteer.url }}/avatar
                {% else %}
                /stylesheets/default-profile-pic.png
                {% endif %}"  
            alt="{{ page_volunteer.get_name|striptags }}"
        />
            <ul>
                <li id="personname">{{ page_volunteer.get_name|striptags }}</li>
                {% if page_volunteer.quote|striptags %}
                    <li id="personstatement">{{ page_volunteer.quote|striptags }}</li>
                {% endif %}
            </ul>
		  <li>{% if volunteerfollower %}
		    <form action="{{page_volunteer.url}}/follow" method="post">
		        <input type=hidden name="session_id" value="{{ session_id }}">
		        <input type=hidden name="delete" value="true">
		        <input type=submit value="stop following">
		    </form>
		  {% else %}
		    <form action="{{page_volunteer.url}}/follow" method="post">
		        <input type=hidden name="session_id" value="{{ session_id }}">
		        <input type=submit value="follow">
		    </form>
		  {% endif %}</li>
		  
        </div><!--end personblock-->