{% extends to_extend %}

{% block pagespectitle %}
    <h1>Setup your account</h1>
{% endblock %}

{% block content %}


<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('Account setup');
      });
</script>

<div id="lefthalf">
	{% include "../volunteers/_create.html" %}
</div>
<div id="righthalf">
	<div class="hardmodule" id="createinfo">
	    <div class="moduletitle">
	        <h3>Account Creation Information</h3>
	    </div>
	    <ul>
	        <li>Your account name can be different from your google account name.  Your Flash Volunteer account name is how you will be known on this site.</li>
	    </ul>
	</div>
</div>
{% endblock content %}