{% extends "../_layout.html" %}
{% block title %}
Volunteer Settings
{% endblock title %}

{% block profileactive %}class="current"{% endblock profileactive %}


{% block content %}
  <div id="centerwhole">
  <h1>Welcome to Flash Volunteer!</h1>
  <form action="/settings" method="post">

    <div><strong>Your Name:</strong>
    <input type="text" name="name" size="40" value="{{ volunteer.name }}"  /></div>
    <div><input type="checkbox" name="tosagree" value="1" /> I agree to the Flash Volunteer <a href="/toslink">Terms of Use</a></div>
    <p>
      <input type=submit value="Create my account">
		  <input type=hidden name="session_id" value="{{ session_id }}">
		</p>
	 </form>
	</div>
	</div>
{% endblock content %}