{% extends "../_layout.html" %}
{% block title %}
Friends
{% endblock title %}

{% block friendsactive %}
class="current"
{% endblock %}


{% block content %}
<div id="left25">
	{% include "../volunteers/_following_list.html" %}
	{% include "../volunteers/_followers_list.html" %}
	
</div>
<div id="right75">
	{% include "../volunteers/_friends_list.html" %}
	
	
<div id="personfriends" class="softmodule">
	<div class="moduletitle">
	</div>
		{% for f in volunteer.following %}
			{% if forloop.first %}
		<h3>Following</h3><br>
		<ul>
			{% endif %}
			<img src="
			{% if f.avatar %}
				{{ f.avatar }}
			{% else %}
				/stylesheets/default-profile-pic-small.png
			{% endif %}
			" alt="{{ volunteer.get_name }}" />
			{% if forloop.last %}
		</ul>
			{% endif %}
		{% endfor %}
		{% for f in volunteer.followers %}
			{% if forloop.first %}
		<h3>Followers</h3><br>
		<ul>
			{% endif %}
			<img src="
			{% if f.avatar %}
				{{ f.avatar }}
			{% else %}
				/stylesheets/default-profile-pic-small.png
			{% endif %}
			" alt="{{ volunteer.get_name }}" />
			{% if forloop.last %}
		</ul>
			{% endif %}
		{% endfor %}
	</ul>
</div><!--end friends-->
	
	
</div>

{% endblock content %}