{% extends "../_layout.html" %}
{% block title %}
Flash Volunteer
{% endblock title %}

{% block homeactive %}class="current"{% endblock homeactive %}

{% block pagespectitle %}
    <h1>{{ volunteer.name }}</h1>
{% endblock %}

{% block content %}

<div id="leftthird">
    <div id="personblock" class="softmodule">
	    {% include "../volunteers/home/_narrow_name.html" %}
	    {% include "../volunteers/home/_operations.html" %}
    </div>
    {% include "../volunteers/home/_information.html" %}
    {% include "../volunteers/home/_list_brief.html" %}
</div><!--end leftthird-->


<div id="middlethird">
    {% include "../messages/home/_brief.html" %}
    {% include "../events/events_page/_volunteer_upcoming.html" %}
	{% include "../events/events_page/_recommended_events.html" %}
	{% include "../events/events_page/_volunteer_hosting_events.html" %}

</div><!--end middlethird-->

<div id="rightthird">
    {% include "../events/_find_event.html" %}
	{% include "../volunteers/_find_volunteer_wide.html" %}		
	{% include "../events/events_page/_create_event.html" %}		
</div><!--end rightthird-->

{% endblock content %}