{% extends to_extend %}



{% block pagespectitle %}
    <h1>{{ account.name }}</h1>
{% endblock %}

{% block content %}

<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('Profile Settings');
      });
</script>

<div id="left25">
    <div id="personblock" class="softmodule">
	    {% include "../volunteers/home/_narrow_name.html" %}   
	    {% include "../volunteers/settings/_operations.html" %}   
    </div>
    {% include "../volunteers/settings/_avatar_update.html" %}
</div>
	
<div id="right75">
	{% include "../volunteers/settings/_edit_profile.html" %}
</div>

{% endblock content %}