{% extends "../_layout.html" %}
{% block title %}
Volunteer Settings
{% endblock title %}

{% block profileactive %}class="current"{% endblock profileactive %}



{% block pagespectitle %}
	<h1>{{ volunteer.name }}</h1>
{% endblock %}

{% block content %}
<div id="leftthird">
	{% include "../volunteers/_avatar_update.html" %}
    {% include "../volunteers/_account_actions.html" %}   
</div>
	
<div id="middlethird">
	{% include "../volunteers/_edit_profile.html" %}
</div>

<div id="rightthird">
	{% include "../help/_profile_tips.html" %}
</div>
{% endblock content %}