{% extends "../_layout.html" %}
{% block title %}
Volunteer Settings
{% endblock title %}

{% block profileactive %}class="current"{% endblock profileactive %}


{% block content %}
  <h1>Volunteer Profile</h1>
	<BR> Todays message: {{ message }}
	<BR> Manage your settings:
  <form action="/settings" method="post" enctype="multipart/form-data".>
  
    <div><strong>Name:</strong>
    <input type="text" name="name" size="40" value="{{ volunteer.name }}"  /></div>
  
  
  <div><strong>Profile picture:</strong>
		{% if volunteer.avatar %}
			<br/><img src="{{volunteer.url}}/avatar" alt="{{ volunteer.get_name }}" /><br/>
		{% endif %}
  <input type="file" name="avatar" /> (JPEG format only)</div>
  
  <div><strong>Quote:</strong>
  "<input type="text" name="quote" size="40" value="{{ volunteer.quote }}"  />"</div>

  
	<div> Home Neighborhood: 
		<select name="home_neighborhood">
			{% for neighborhood in home_neighborhoods %}
			<option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected{% endif %}>{{neighborhood.name}}
			</option>
			{% endfor %}
		</select>
	</div>

	<div> Work Neighborhood: 
		<select name="work_neighborhood">
			{% for neighborhood in work_neighborhoods %}
			<option value="{{neighborhood.key.id}}"{% if neighborhood.selected %} selected{% endif %}>{{neighborhood.name}}
			</option>
			{% endfor %}
		</select>
	</div>

    <div><h3>Interest categories</h3>
    {% include "../interestcategories/_interestcategories.html" %}

<p>		<input type=submit value="Update">
		<input type=hidden name="session_id" value="{{ session_id }}">
		</p></form>
	</div>

  User since {{volunteer.joinedon}}
	
	<div>
		<form action="/delete" method="post"> <input type="submit" value="Delete your account" />
		  <input type=hidden name="is_delete" value="true" />
			<input type=hidden name="session_id" value="{{ session_id }}" />
  	</form>
	</div>
{% endblock content %}