{% extends to_extend %}

{% block content %}

<script>
      set_active('friends');

      $(document).ready(function() {
            load_title('People');
            load_header('');
      });
</script>

<div id="lefthalf">
    {% include "../volunteers/team/_neighbors.html" %}
    {% include "../volunteers/team/_team.html" %}
</div>
<div id="righthalf">
    {% include "../volunteers/_find_volunteer_wide.html" %} 
    {% comment %}{% include "../volunteers/_most_active_volunteers.html" %} {% endcomment %}

</div>

{% endblock content %}