{% extends "../_layout.html" %}
{% block title %}
{{ page_volunteer.account.get_name }}'s public page
{% endblock title %}

{% block pagespectitle %}
    <h1>{{ page_volunteer.account.name }}</h1>
{% endblock %}


{% block content %}



<div id="leftthird">
    <div id="personblock" class="softmodule">
	    {% include "../volunteers/view_other_volunteer/_narrow_name.html" %}
	    {% include "../volunteers/view_other_volunteer/_operations.html" %}
    </div>
    {% include "../volunteers/view_other_volunteer/_information.html" %}
    {% include "../volunteers/view_other_volunteer/_list_brief.html" %}


</div><!--end leftthird-->

<div id="middlethird">
    {% include "../volunteers/view_other_volunteer/_volunteer_upcoming_events.html" %}
</div><!--end middlethird-->

<!--They like:
<ul>
{% for ic in page_volunteer.interestcategories %}
  <li>{{ic.name}}</li>
{% endfor %}
</ul>-->

<div id="rightthird">
    {% include "../events/_find_event.html" %}
</div><!--end rightthird-->

{% endblock content %}