{% extends to_extend %}

{% block content %}

<script>
      set_active('profile');
      $(document).ready(function() {
            load_title('{{ page_volunteer.get_name }}\'s public page');
			load_header('{{ page_volunteer.name|striptags }}');
      });
</script>



<div id="leftthird">
    <div id="personblock" class="softmodule">
	    {% include "../volunteers/view_other_volunteer/_narrow_name.html" %}
	    {% include "../volunteers/view_other_volunteer/_operations.html" %}
    </div>
    {% include "../volunteers/view_other_volunteer/_information.html" %}
    {% include "../volunteers/view_other_volunteer/_list_brief.html" %}
</div><!--end leftthird-->

<div id="middlethird">
    {% include "../volunteers/view_other_volunteer/_volunteer_upcoming_events.html" %}
    {% include "../events/events_page/_volunteer_hosting_events.html" %}

	<!--{% include "../volunteers/home/_volunteer_statistics.html" %}-->
</div><!--end middlethird-->

<!--They like:
<ul>
{% for ic in page_volunteer.interestcategories %}
  <li>{{ic.name}}</li>
{% endfor %}
</ul>-->

<div id="rightthird">
    {% include "../events/_find_event.html" %}
    {% include "../events/events_page/_create_event.html" %}        
    {% include "../volunteers/_find_volunteer_wide.html" %}     
</div><!--end rightthird-->

{% endblock content %}