{% extends "../_layout.html" %}
{% block title %}
{{ page_volunteer.get_name }}'s public page
{% endblock title %}

{% block content %}

<div id="leftthird">
    {% include "../volunteers/_volunteer_narrow_name.html" %}
    {% include "../volunteers/_volunteer_information.html" %}
    {% include "../volunteers/_volunteer_list_brief.html" %}


</div><!--end leftthird-->

<div id="middlethird">
    {% include "../events/_volunteer_volunteer_upcoming.html" %}
</div><!--end middlethird-->

<!--They like:
<ul>
{% for ic in page_volunteer.interestcategories %}
  <li>{{ic.name}}</li>
{% endfor %}
</ul>-->

<div id="rightthird">
    {% include "../events/_find_event.html" %}
    {% include "../neighborhoods/_most_active_brief.html" %}
    {% include "../help/_faq_links_brief.html" %}
</div><!--end rightthird-->

{% endblock content %}