<script>
    $(function() {
$('table.zebra tr:even').addClass('even');
$('table.zebra tr:odd').addClass('odd');
});
</script>

<!-- <div id="lefthalf"> -->

<div id="left66">
     <div class="hardmodule">          
        <div class="moduletitle">
             <h3>{{application_alias}} areas ({{ neighborhoods|length }})</h3>
        </div>                        
        <div id="leftthirdequi">                    
            <ul>
                {% for neighborhood in neighborhoods1 %}
                    <li>
                        <a class="fv" href="{{ neighborhood.url }}">{{ neighborhood.name }}</a>
                    </li>
                {% endfor %}
            </ul>               
        </div><!--end splash-left--> 
         <div id="middlethirdequi">                   
            <ul>
                {% for neighborhood in neighborhoods2 %}
                    <li>
                        <a class="fv" href="{{ neighborhood.url }}">{{ neighborhood.name }}</a>
                    </li>
                {% endfor %}
            </ul>               
        </div>    
        <div id="rightthirdequi">         
            <ul>               
                {% for neighborhood in neighborhoods3 %}
                    <li>     
                        <a class="fv" href="{{ neighborhood.url }}">{{ neighborhood.name }}</a>
                    </li>
                {% endfor %}    
            </ul>
        </div><!--end splash-right-->       
    </div><!--end current_neighborhoods--> 
</div>
<div id="right33">

    <div id="active_neighborhoods" class="hardmodule">            
        <div class="moduletitle">
            <h3>Most Active</h3>
        </div> 
              <table class="zebra">                 
                <thead><tr>
                    <th></th>
                        <th>Volunteers <div class="small">(live/work)</div></th>                    
                        <th>Events <div class="small">(past/upcoming)</div></th>
                        <!--<th>Vol. Hours</th>-->                                            
                    </tr>                   
                </thead>
                <tfoot></tfoot> 
                <tbody>                             
                    {% for n in most_active_neighborhoods %}                                                    
                        <tr>
                            <th>
                                <a class="fv" href="{{ n.0.url }}">{{ n.0.name }}</a>                            
                            </th>                               
                            <td>
                                {% if n.1.0 or n.1.1 %}                                    
                                  {{ n.1.0 }} <span class="small">/</span> {{n.1.1 }}
                                {% endif %}
                            </td>
                            <td>
                                {% if n.1.2 or n.1.3 %}                                    
                                  {{ n.1.2 }} <span class="small">/</span> {{n.1.3 }}
                                {% endif %}
                            </td>
                            <!--<td>
                                {% if n.1.3 %}                                    
                                  {{ n.1.3 }}
                                {% endif %}
                            </td>-->
                        </tr>
                    {% endfor %} 
                </tbody>                  
            </table>                                                                   
    </div>
</div>
 