{% extends to_extend %}



{% block pagespectitle %}
    <h1>{{ neighborhood.name }}</h1>
{% endblock %}

{% block content %}

<script>
      set_active('neighborhood');

      $(document).ready(function() {
            load_title('{{ neighborhood.get_name }}');
      });
</script>



<div id="lefthalf">
    {% include "../neighborhoods/neighborhood_detail/_upcoming_events.html" %}
<!--    {% include "../neighborhoods/neighborhood_detail/_statistics.html" %}-->

</div>

<div id="righthalf">
    {% include "../neighborhoods/neighborhood_detail/_volunteer_work.html" %}
    {% include "../neighborhoods/neighborhood_detail/_volunteer_live.html" %}
    {% include "../messages/_forum_embed.html" %}
</div>


{% endblock content %}