{% extends to_extend %}

{% block content %}

<script>
      set_active('neighborhood');

      $(document).ready(function() {
            load_title('{{ neighborhood.name }}');
			load_header('{{ neighborhood.name }}');
      });
</script>


<div id="lefthalf">
    {% include "../neighborhoods/neighborhood_detail/_upcoming_events.html" %}
</div>

<div id="righthalf">
    {% include "../neighborhoods/neighborhood_detail/_neighborhood_statistics.html" %}
    {% include "../messages/_forum_embed.html" %}
    {% include "../neighborhoods/neighborhood_detail/_volunteer_work.html" %}
    {% include "../neighborhoods/neighborhood_detail/_volunteer_live.html" %}
</div>


{% endblock content %}