
		<div id="personinformation" class="softmodule">
			<!--<div class="moduletitle">
				<h3>Information</h3>
			</div>-->
			<ul>
			  {% if volunteer.home_neighborhood %}
				<li><span class="label">Live in</span> <a class="fv" href="{{ volunteer.home_neighborhood.url }}">{{ volunteer.home_neighborhood.name }}</a></li>
				{% endif %}
        {% if volunteer.work_neighborhood %}
				<li><span class="label">Work in</span> <a class="fv" href="{{ volunteer.work_neighborhood.url }}">{{ volunteer.work_neighborhood.name }}</a></li>
        {% endif %}
			
			</ul>
		</div><!--end information-->