
<div id="personfriends" class="softmodule">
	<div class="moduletitle">
		<h3>My Team</h3>
	</div>
	<ul>
		{% for f in volunteer.friends %}
			<li><a href="{{f.url}}">{{ f.get_name }}</a></li>
		{% endfor %}
	</ul>
</div><!--end friends-->

{% if volunteer.friends %}
    {% ifnotequal volunteer.friends|length 0 %}
	    <div class="pagination_entry">
	    <a href="/team">&raquo; View whole team</a>
	    </div>
    {% endifnotequal %}
{% else %}
	<div class="faq-link-wrapper">
		<a class="faq-link" href="/static/help#volunteers">Why is no one listed here?</a>
	</div>
{% endif %}