
<div id="personinformation" class="softmodule">
	<div class="moduletitle">
		<h3>My <span class="flashtext">Flash</span>Team</h3>
	</div>
	<ul id="imagenamelinklist">
		{% for page_volunteer in volunteer.friends %}
			{% include "person_lists/_volunteer_list_item_teammate.html" %}
		{% endfor %}
	</ul>
</div>

<div id="personinformation" class="softmodule">    
    <ul id="imagenamelinklist">
        {% for page_volunteer in volunteer.following_only %}
            {% include "person_lists/_volunteer_list_item_teammate.html" %}
        {% endfor %}
    </ul>
</div>