<div id="friends_and_following" class="softmodule">
	<div class="moduletitle">
		<h3>My <span class="flashtext">Flash</span>Team</h3>
	</div>
	<ul class="imagenamelinklist">
		{% for volunteer_in_list in friends %}
			{% include "person_lists/_volunteer_list_item.html" %}
		{% endfor %}
	</ul>
</div>

{% if friends %}
    {% ifnotequal friends|length 0 %}
	    <div class="pagination_entry">
		    <a href="/team/1">&raquo; View whole team</a>
	    </div>
		 
    {% endifnotequal %}
{% else %}
	<a href="/static/help#volunteers">Why is no one listed here?</a>
	
{% endif %}
