<script>
  $(document).ready(function(){
    $(".validate_form").validate({
        errorPlacement: function(error, element) {},
        invalidHandler: function(form, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
            $('.form_error').html('Errors found! Please check the highlighted fields.');
            $(".form_error").show();
          } else {
            $(".form_error").hide();
          }
        },
        submitHandler: function(form) {
           form.submit();
        }

    })
  });
</script>



<form class="validate_form" action="/settings" method="post">

        <div class="hidden emph form_error">
            Errors found! Please check the highlighted fields. 
        </div>
		
<div id="editprofile" class="softmodule">
    <div class="moduletitle">
        <h3>Basic</h3>
    </div>
    <input type="hidden" name="session_id" value="{{ session_id }}">
    <ul>
	
        <li><label for="name">Name:</label> <input class="required text" type="text" name="name" value="{{ account.name|striptags }}" /></li>
        <li><label for="email">Email:</label> <input class="text required email" type="text" name="email" value="{{ account.get_email|striptags }}"  /></li>
        <li><label for="quote">About:</label> <textarea class="textarea" name="quote">{{ volunteer.get_quote|striptags }}</textarea></li>
    </ul>
    <table><tr><td><label for="home_neighborhood">I live nearest to:</label></td><td>{% include "../volunteers/settings/_select_home_neighborhood.html" %}</td></tr>
    <tr><td><label for="work_neighborhood">I work nearest to:</label></td><td>{% include "../volunteers/settings/_select_work_neighborhood.html" %} </td></tr>
    </table>

</div>

<script>
    $(function() {
$('table.zebra tr:even').addClass('even');
$('table.zebra tr:odd').addClass('odd');
});
</script>

<div id="editprofile" class="softmodule">
    <div class="moduletitle">
        <h3>Message settings</h3>
    </div>
	
	
    Let us know how you want to receive notifications<br><br>
    <div id="message_settings">
    	<table class="zebra">
        {% for message_type in message_types %}
		    <tr><td class="message_setting">
			        <span class="label">{{message_type.prompt}}:</span>
					<ul>
        				{% for propagation_type in message_propagation_types %}
    	           		  {% message_type_pref volunteer message_type propagation_type %} 
							  <li class="fl">
							    <input class="checkbox" type="checkbox" id="{{message_type.key.id}}[{{propagation_type.key.id}}]" name="{{message_type.key.id}}[{{propagation_type.key.id}}]" value="1" {% if mt_checked %} checked {% endif %} />
							    <label class="checkboxlabel" for="{{message_type.key.id}}[{{propagation_type.key.id}}]" >{{ propagation_type.prompt }}</label>
							  </li>
        				{% endfor %}
					</ul>
				</td>
			</tr>
        {% endfor %}
		</table>
	</div>
</div>


<div id="editprofile" class="softmodule">
    <div class="moduletitle">
        <h3>Privacy</h3>
    </div>

    <ul>
        <li>
            <span class="label">Who can see your upcoming events?</span>
            <select name="privacy__event_attendance">
                <option value="friends" {% ifequal volunteer.privacy__event_attendance "friends" %} selected="selected"{% endifequal %}>FlashTeam</option>
                <option value="noone" {% ifequal volunteer.privacy__event_attendance "noone" %} selected="selected"{% endifequal %}>No one</option>
                <option value="everyone" {% ifequal volunteer.privacy__event_attendance "everyone" %} selected="selected"{% endifequal %}>Logged-in users</option>
            </select>                
        <li>
    </ul>
</div>

<div id="editprofile" class="softmodule">
    <div class="moduletitle">
        <h3>Interest Categories</h3>
    </div>
    
    <ul>
        <li>{% include "../interestcategories/_interestcategories.html" %}</li>
    </ul>
</div>


<div id="editprofile" class="softmodule">    
    <li><input class="submit" type="submit" id="s_update_profile" value="Save Settings"></li>
</div>


<!--div id="editprofile" class="softmodule">    
    <div class="moduletitle">
        <h3>Twitter</h3>
    </div>
    
    <ul>
        <li><span class="label">Twitter Username:</span> <input type="text" name="twitter" size="33" value="
    {% if volunteer.twitter %}
            {{ volunteer.twitter|striptags }}
    {% endif %}
    "  /><br/>
  (*Note: To receive tweets, you must also follow <a href="http://twitter.com/flashvolunteer">Flash Volunteer</a> on Twitter.)
        </li>
    </ul>
</div>-->
</form>
