
<div id="recommendedevents" class="softmodule">
	<div class="moduletitle"><h3>My Recommended Events</h3> <a href="/static/help#recommended-events" title="Events are recommended based on the interest categories you have selected, as well as your home and work neighborhood. You can modify your interest categories and neighborhoods by editing your profile.">(?)</a></div>
	<ul>            
		{% for event in recommended_events %}
		    {% include "../events/_event_list_item.html" %}
		{% endfor %}
	</ul>
</div>

{% if recommended_events %}
	{% ifnotequal recommended_events|length 0 %}
	<div class="pagination_entry">
	    <a onclick="build_dialog(2)">&raquo; View all</a>
	</div>
	{% endifnotequal %}
{%else%}
	<div class="faq-link-wrapper">
		<a class="fv faq-link" href="/static/help#recommended-events">Why don't I have any recommended events?</a>
	</div>
{% endif %}