<div id="personpastevents" class="softmodule">
	<div class="moduletitle"><h3>My Completed Events</h3> <a style="cursor:pointer" title="These are the events that you have volunteered at and/or coordinated.">(?)</a></div>
		{% for event in past_events %}
			{% include "../events/_event_list_item.html" %}
		{% endfor %}
</div><!--end personpastevents-->

{% if past_events %}
	{% ifnotequal past_events|length 0 %}
	<div class="pagination_entry">
        <a onclick="build_dialog(4,{{volunteer.key.id }})">&raquo; View all</a>
	</div>
	{% endifnotequal %}
{% endif %}