<div id="personupcomingevents" class="softmodule">
	<div class="moduletitle"><h3>Coordinating</h3><a style="cursor:pointer" title="These are the events that you are currently helping to coordinate. Past events you have coordinated are listed in the Completed Events list. Go to Create Event if you want to coordinate a new event.">(?)</a></div>
	{% for event in events_coordinating %}
		{% include "../events/_event_list_item.html" %}
	{% endfor %}
</div><!--end profileupcomingevents-->

{% if events_coordinating %}
    {% ifnotequal events_coordinating|length 0 %}
    <div class="pagination_entry">
    	<a onclick="build_dialog(3, {{user_of_interest.key.id}})">&raquo; View all</a>
    </div>
    {% endifnotequal %}
{%else%}
	<div class="faq-link-wrapper">
		Not coordinating any upcoming events. 
	</div>
{% endif %}